@import "variables";
@import "breakpoints";

.question {
  color: $primaryText;
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
}

.eduInput {
  width: 500px;
  height: 44px;
  background: #efefef;
  border-radius: 15px;
  border: none;
  font-family: $secondaryFont;
  font-size: 15px;
  outline: none;
}

::placeholder {
  color: $primaryText;
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
}
