<div class="text-left pt-2 mt-3 row d-flex justify-content-center">
  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <div class="question m-5">What is your name?</div>
      <div class=" ">
        <div class="form-group w-100">

          <input type="text" placeholder="Enter text" class="form-control eduInput" aria-describedby="headline"/>
        </div>
      </div>
    </div>
  </div>
</div>
