<div class="text-left pt-2 mt-3 row d-flex justify-content-center">
  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <div class="question m-5 d-flex flex-column align-items-center">
        <span>{{question?.question}}</span>
      </div>
      <div class="col-md-2 ">
        <label *ngFor="let item of question?.options;let i = index" class="container d-flex">
          <span>{{item}}</span>
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>
</div>
