@import "variables";
@import "breakpoints";

.btn__boolean {
  width: 15.44rem;
  height: 2.94rem;
}

.btn__boolean.hover {
  opacity: 1;
}

.btn--primary {
  fill-opacity: 0.6;
  background: rgba(172, 50, 217,0.6);
}

.btn--tertiary {
  background: rgba(75, 172, 182, 0.6);
}

.btn--primary:hover {
  background: $btnPurple;
}

.btn--tertiary:hover {
  background: $btnAqua;
}

.question {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: $primaryText;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid  rgba(77, 79, 92,0.50);
  background-color: $white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border: 2px solid rgba(77, 79, 92,0.50);
  opacity: 0.50;
  background-color: $white;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $white;
  border: 2px solid $btnGreen;

}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;

}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top:3px;
  left:3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $btnGreen;
}
