@import "variables";
@import "breakpoints";

.mapboxgl-canvas-container mapboxgl-interactive mapboxgl-touch-drag-pan mapboxgl-touch-zoom-rotate atlas-map-canvas-container{
    width: 1px;
}

.atlas-control-container{
    visibility: hidden;
}

.mapboxgl-map atlas-map{
    width: 0px;
}
.wrapJobProfile {
    padding-left: 15px;
    padding-right: 15px;
    color: $primaryText;
    padding-top: 12px;
    @include breakpoint(tablet) {
        padding-left: 30px;
        padding-right: 30px;
    }
    // @include breakpoint(tablet-horizontal) {
    //     padding-left: 120px;
    //     padding-right: 120px;
    // }
    @include breakpoint(desktop) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @include breakpoint(desktop_regular) {
        padding-left: 98px;
        padding-right: 116px;
    }
    .cleartop{
        margin-top: 12px;
        .JobProfile{

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            .nameJob {
                /*width: 100%;
                max-width: 100%;
                font-size: 29px;
                margin-right: 20px;
                float: left;
                line-height: 35px;
                padding-bottom: 17px;
                margin-left: 0px;
                font-family: $primaryFont;*/
                width: 100%;
                max-width: 100%;
                font-family: $primaryFont;
                font-style: normal;
                font-weight: normal;
                font-size: 29px;
                line-height: 35px;
                padding-left: 30px;
                padding-bottom: 17px;
                //left: 98px;
            }

            .descriptionDatesJob {
                font-size: 15px;
                line-height: 19px;
                margin-top: 0px;
                margin-bottom: 11px;
                font-family: $secondaryFont;
            }
            .HeartButton {
                //display: flex;
                width: 50%;
                //float: left;
                text-align: right;
                margin-left: 17px;
                .imgHeart {
                    text-align: left;
                    width: 14px;
                    height: 16px;
                    cursor: pointer;
                }
            }

            .buttonInput {
                width: 156.95px;
                height: 46.96px;
                font-family: $primaryFont;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                background: #22B996;
                border-radius: 74px;
                margin: 0;
                padding-left: 10px;
                //margin-top: 30px;
            }

            .JobDescriptionWrapper {
                padding-top: 22px;
                .description {
                    font-family: $secondaryFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 9px;
                    color: #4D4F5C;
                    margin-left: 0;
                    line-height: normal;
                    padding-bottom: 30px;
                    padding-left: 0px;
                    .p{
                        padding-bottom: 3px;
                    }
                }
                .jobDescriptionTitle {
                    font-size: 25px;
                    line-height: 30px;
                    font-family: $primaryFont;
                    padding-bottom: 30px;
                    .jobDescriptionPara{
                        font-family: $primaryFont;
                        margin-bottom: 0px;
                    }
                }
                .description {
                    font-family: $secondaryFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 19px;
                    color: #4D4F5C;
                    margin-left: 0;
                    line-height: normal;
                    padding-bottom: 30px;
                    padding-left: 0px;
                }
            }

            /////
            .JobSection{
                padding-left: 0px;
                padding-right: 0px;
                .jobsectionWrapper{
                    padding-left: 0px;
                    padding-right: 0px;
                    .jobSectionLocationCont{
                        padding-left: 0px;
                        padding-right: 0px;
                        /*padding-bottom: 50px;*/
                        .jobSectionLocationTittle {
                            text-align: center;
                            font-size: 25px;
                            line-height: 30px;
                            padding-right: 0px;
                            padding-bottom: 38px;
                            font-family: $primaryFont;
                        }
                        .jobLocationMap{
                            padding-left: 0px;
                            padding-right: 0px;
                            .location{
                                //    width: 100%;
                                    max-width: 100%;
                                    margin-bottom: 57px;
                                    height: 200px;
                                    position: 0;
                                    #map {
                                        height: 220px;
                                        width: 230px;
                                    }
                        }
                    }
                }

                .jobSectionSkillsCont {
                    text-align: center;
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-bottom: 50px;
                    .jobSectionSkillsTittle {
                        font-size: 25px;
                        padding-right: 0px;
                        text-align: center;
                        padding-bottom: 38px;
                        font-family: $primaryFont;
                        line-height: 30px;
                    }
                    .jobSectionSkillsWrapperCont {
                        width: 300px;
                        margin-left: 20px;
                    }
                    .jobSectionTittle{
                        .contentWrapButtonsTag{
                            width:80%;
                            padding-left: 80px;
                            float: right;
                            @include breakpoint(1366px) {
                                width: 82%;
                                padding-left: 80px;
                             }
                             @include breakpoint(500px) {
                                width: 82%;
                                padding-left: 80px;
                             }
                            
                            @include breakpoint(small) {
                                width: 83%;
                                padding-left: 100px;
                            }
                            @include breakpoint(tablet) {
                                width: 100%;
                                padding-left: 40px;
                            }

                            .tag {
                                font-family: $secondaryFont;
                                background-color: $tag;
                                width: 71.68px;
                                height: 25px;
                                border-radius: 15px;
                                float: left;
                                margin-right: 20.48px;
                                text-align: center;
                                color: #FFF;
                                font-size: 12px;
                                line-height: 25px;
                                cursor: pointer;
                                margin-bottom: 20.48px;
                            }

                            .opcion {
                                font-family: $secondaryFont;
                                background-color: $btnOrange;
                                width: 70px;
                                height: 25px;
                                border-radius: 15px;
                                float: left;
                                margin-right: 17px;
                                text-align: center;
                                color: #FFF;
                                font-size: 12px;
                                line-height: 25px;
                                margin-bottom: 20px;
                                cursor: pointer;
                                @include breakpoint(tablet) {
                                    margin-right: 17px;
                                }
                            }
                        }

                    }
                }

                .jobSectionAboutTittle {
                    //font-size: 24px;
                    padding-right: 0px;
                    text-align: right;
                    padding-bottom: 50px;
                    width:500px;
                    padding-left: 26px;
                    
                    @include breakpoint(desktop) {
                        width: 179px;
                        font-size: 22px;
                        padding-left: 0px;
                    }
                    @include breakpoint(desktop_regular) {
                        width: 179px;
                        font-size: 24px;
                    }
            
                    .jobSectionTittle {
                        padding-left: 0px;
                        padding-right: 0px;
                        padding-bottom: 20px;
                        font-size: 25px;
                        line-height: 30px;
                        font-family: $primaryFont;
                        text-align: center;
                        @include breakpoint(desktop) {
                            font-size: 22px;
                        }
                    }
                    .rank {
                        font-size: 25px;
                        padding-left: 90px;
                        padding-right: 0px;
                        margin-left: 0px;
                        margin-right: 0px;
                        line-height: 20px;
                        text-align: right;
                        @include breakpoint(max-width 501px) {
                            //width: 82%;
                            font-size: 50px;
                            padding-left: 90px;
                            text-align: center;
                         }
                         @include breakpoint(desktop_regular) {
                            padding-left: 20px;
                            //padding-right: 116px;
                        }
                        .numberRank {
                            font-size: 20px;
                            line-height: 30px;
                            font-family: $primaryFont;
                        }
                    }
                }

            }
        }
        
        ///

        .JobDescriptionWrapper {
            padding-top: 28px;
            .description {
                font-family: $secondaryFont;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 19px;
                color: #4D4F5C;
                margin-left: 0;
                line-height: normal;
                padding-bottom: 33px;
                padding-left: 0px;
                .p{
                    padding-bottom: 16px;
                }
            }
        }


        .JobsSpecificationWrapper {
            font-size: 12px;
            text-align: center;
            padding-bottom: 89px;
            padding-left: 0px;
            padding-right: 0px;
            .JobsSpecificationWrapperSibling {
                padding-left: 0px;
                padding-right: 0px;
                .jobsSpecificationTitle {
                    font-size: 11px;
                    padding-left: 15px;
                    padding-right: 0px;
                    font-family: $secondaryFont;
                    margin-bottom: 10px;
                }
                .jobsSpecificationDesc {
                    font-size: 17px;
                    line-height: 21px;
                    font-family: $primaryFont;
                    padding-left: 15px;
                    padding-right: 0px;
                }
            }
        }

        


    }
}

.sidebarTitle {
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    width: 100%;
    padding-bottom: 34px;
    text-align: left;
}

.jobCard {
    text-align: center;
    float: left;
    margin-bottom: 58px;
    width: 500px;
    height: 182px;

    .messageTitle {
        padding-bottom: 10px;
    }
    .cardContent {
        @include breakpoint(small){
            width: 500%;
            max-width: 500px;
        }
        .jobCardTittle {
            text-align: left;
            color: #AC32D9;
            font-size: 15px;
            margin-bottom: 4px;
            margin-left: 27px;
            padding-top: 21px;
            font-family: $primaryFont;
            line-height: 18px;
            cursor: pointer;
        }
        .jobCardLocation {
            text-align: left;
            margin-bottom: 12px;
            margin-left: 27px;
            font-size: 12px;
            line-height: 15px;
            font-family: $secondaryFont;
        }
        .jobCardDescription {
            text-align: left;
            margin-bottom: 12px;
            margin-left: 27px;
            font-size: 12px;
            line-height: 15px;
            font-family: $secondaryFont;
        }
        .jobCardContent {
            text-align: left;
            margin-bottom: 23px;
            margin-left: 42px;
            font-size: 12px;
            line-height: 15px;
            font-family: $secondaryFont;
            .jobCardContentDescription{
                margin-bottom: 8px;
            }

        }
        .jobCardFooter {
            text-align: left;
            margin-left: 25px;
            margin-right: 17px;
            font-size: 10px;
            line-height: 13px;
            //margin-bottom: 17px;
            padding-bottom: 17px;
            font-family: $secondaryFont;
            .imgHeart {
                cursor: pointer;
                float: right;
                width: 15px;
                height: 15px;
            }
        }
    }
}


}