<div class="container-fluid wrapJobProfile" id="JobProfile">
    <div class="row cleartop">
        <div class="col-12 col-md-8 JobProfile">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="col-12 row col-md-12 nameJob">
                        Job title
                        <div class="row col-md-1 HeartButton">
                            <div (click)="showFav1=!showFav1">
                                <i class="fa fa-heart-o hearts imgHeart" *ngIf="!showFav1"></i>
                                <i class="fa fa-heart hearts imgHeart" *ngIf="showFav1"></i>
                            </div>
                        </div>
                    </div>


                    <div class="col-1"></div>
                    <div class="descriptionDatesJob col-md-12">
                        <div class="descriptionDatesJob">Posted 2 days ago</div>
                        <div class="descriptionDatesJob">Project type: ongoing</div>
                    </div>
                </div>
                <div class="row col-md-2 HeartButton">
                    <div class="col-md-2">
                        <input type="submit" class="form-control buttonInput" value="Apply now" name="capply">
                    </div>
                </div>
                <div class="col-12 col-md-12">
                    <div class="row col-md-12">

                        <div class="JobDescriptionWrapper col-md-12">
                            <div class="subtitle jobDescriptionTitle">
                                <p class="jobDescriptionPara">Job description</p>
                            </div>

                            <div> </div>

                            <div class="col col-md-12 description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum, est a posuere vulputate, odio lorem interdum eros, id luctus purus augue in ipsum. Pellentesque id faucibus est, sit amet porta massa. Sed libero
                                    nisi, tempor non condimentum a, fringilla vitae nisi. Aliquam laoreet, justo a interdum tristique, leo justo iaculis enim, non ultrices elit nisi ut mi. Nulla purus dui, semper eu gravida a, laoreet sit amet nibh. Quisque
                                    quis justo dolor. Vivamus imperdiet nisi ipsum, at interdum mi porta id. Fusce viverra luctus turpis sed dapibus. Pellentesque eu lacinia quam. Phasellus eget ligula ut nunc accumsan hendrerit. Mauris commodo metus
                                    tortor, ut scelerisque enim elementum at. Etiam sollicitudin turpis vel commodo gravida. Cras at metus scelerisque, volutpat magna sed, vulputate dui. Nam convallis sagittis dui eu euismod. Mauris dictum dui nisl, sit
                                    amet dictum diam hendrerit ac.</p>
                            </div>
                        </div>
                        <br/>
                        <div class="row col-md-12 JobsSpecificationWrapper">
                            <div class="col-md-2 JobsSpecificationWrapperSibling">
                                <div class="jobsSpecificationTitle">Hours needed</div>
                                <div class="jobsSpecificationDesc">10/hrs week</div>
                            </div>
                            <div class="col-md-3 JobsSpecificationWrapperSibling">
                                <div class="jobsSpecificationTitle">Duration</div>
                                <div class="jobsSpecificationDesc">3 months</div>
                            </div>
                            <div class="col-md-2 JobsSpecificationWrapperSibling">
                                <div class="jobsSpecificationTitle">Experience level</div>
                                <div class="jobsSpecificationDesc">CFO</div>
                            </div>
                            <div class="col-md-3 JobsSpecificationWrapperSibling">
                                <div class="jobsSpecificationTitle">Location</div>
                                <div class="jobsSpecificationDesc">Scranton, PA</div>
                            </div>
                            <div class="col-md-2 JobsSpecificationWrapperSibling">
                                <div class="jobsSpecificationTitle">Education requirement</div>
                                <div class="jobsSpecificationDesc">Master degree</div>
                            </div>
                        </div>

                        <div class="JobSection col-md-12">
                            <div class="row col-md-12 jobsectionWrapper">
                                <div class="col-md-4 jobSectionLocationCont">
                                    <div class="jobSectionLocationTittle">
                                        Job Location
                                    </div>
                                     <div class="col-md-12 jobLocationMap">
                                            <div class="location" >
                                                <div #map id="map"></div>
                                            </div>
                                    </div>
                                </div>
                                <div class="col-md-5 jobSectionSkillsCont">
                                    <div class="jobSectionSkillsTittle">
                                        Required skills
                                    </div>
                                    <div class="row jobSectionTittle">
                                        <div class="contentWrapButtonsTag">
                                            <div style="text-align: center;" class="contentWrapButtonsTag2">
                                                <div class="tag opcion">Tags</div>
                                                <div class="tag opcion">Tags</div>
                                                <div class="tag opcion">Tags</div>
                                                <div class="tag opcion">Tags</div>
                                                <div class="tag opcion">Tags</div>
                                                <div class="tag opcion">Tags</div>
                                                <div class="tag opcion">Tags</div>
                                                <div class="tag opcion">Tags</div>
                                                <div class="tag opcion">Tags</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jobSectionAboutTittle" style="text-align: center;">
                                    <div class="jobSectionTittle col-md-12" style="text-align: center;">
                                        About the client
                                    </div>
                                    <!-- <div class="row col-md-12"> -->
                                    <div class="col-md-12 row rank">
                                        <i class="fa fa-star stars"></i>
                                        <i class="fa fa-star stars"></i>
                                        <i class="fa fa-star stars"></i>
                                        <i class="fa fa-star stars"></i>
                                        <i class="fa fa-star-o stars"></i>
                                        <div class="numberRank">(3)</div>
                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="col-12 col-md-3 offset-md-1">
            <div class="row">
                <div class="sidebarTitle">Related jobs:</div>

            </div>
            <div class="row">
                <div class="jobCard">
                    <div class="cardContent">
                        <div class="jobCardTittle">
                            Job Tittle
                        </div>
                        <div class="jobCardLocation">
                            Location
                        </div>
                        <div class="jobCardDescription">
                            Job description
                        </div>
                        <div class="jobCardContent">
                            <ul>
                                <li class="jobCardContentDescription">Lorem impsum</li>
                                <li class="jobCardContentDescription">Lorem impsum</li>
                            </ul>
                        </div>
                        <div class="jobCardFooter">
                            3 days ago
                            <span (click)="showFav2=!showFav2">
                                <i class="fa fa-heart-o hearts imgHeart" *ngIf="!showFav2"></i>
                                <i class="fa fa-heart hearts imgHeart" *ngIf="showFav2"></i>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="jobCard">
                    <div class="cardContent">
                        <div class="jobCardTittle">
                            Job Tittle
                        </div>
                        <div class="jobCardLocation">
                            Location
                        </div>
                        <div class="jobCardDescription">
                            Job description
                        </div>
                        <div class="jobCardContent">
                            <ul>
                                <li class="jobCardContentDescription">Lorem impsum</li>
                                <li class="jobCardContentDescription">Lorem impsum</li>
                            </ul>
                        </div>
                        <div class="jobCardFooter">
                            3 days ago
                            <span (click)="showFav3=!showFav3">
                                <i class="fa fa-heart-o hearts imgHeart" *ngIf="!showFav3"></i>
                                <i class="fa fa-heart hearts imgHeart" *ngIf="showFav3"></i>
                            </span><!-- <i class="fa fa-heart-o hearts imgHeart"></i> -->
                        </div>

                    </div>
                </div>
                <div class="jobCard">
                    <div class="cardContent">
                        <div class="jobCardTittle">
                            Job Tittle
                        </div>
                        <div class="jobCardLocation">
                            Location
                        </div>
                        <div class="jobCardDescription">
                            Job description
                        </div>
                        <div class="jobCardContent">
                            <ul>
                                <li class="jobCardContentDescription">Lorem impsum</li>
                                <li class="jobCardContentDescription">Lorem impsum</li>
                            </ul>
                        </div>
                        <div class="jobCardFooter">
                            3 days ago <!-- <i class="fa fa-heart-o hearts imgHeart"></i> -->
                            <span (click)="showFav4=!showFav4">
                                <i class="fa fa-heart-o hearts imgHeart" *ngIf="!showFav4"></i>
                                <i class="fa fa-heart hearts imgHeart" *ngIf="showFav4"></i>
                            </span>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>