<div class="container-fluid padContainer">
    <div class="row cleartop">
        <div class="col-12 col-md-12  col-lg-6">
          <div class="homeImages">
            <div class="img" align="center">
                <img src="assets/home/talk_complete.png" alt="">
            </div>
            <!-- <div class="img">
              <img src="assets/home/sitting-2.png" alt="">
            </div> -->
        </div>
        <div class="subtitle findText">Find A Vetted US-Based Professional</div>
          <div id="search">
              <div class="icons">
                  <img src="assets/home/icon_search.png" alt="">
                  <img class="arrow" src="assets/home/arrowDown.png" alt="">
              </div>
              <input class="searchInput" type="text" placeholder="“Accounting”" >
              <div class="buttonInput">Search</div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6">
            <div class="subtitle loginText">Sign Up</div>
            <div class="cardContent signUp">
                <form class="signupWrapper" (ngSubmit)="processForm()" [appMatchPassword]="['password', 'cpassword']" #registerForm="ngForm">
                    <div class="row">
                        <div class="col">
                          <label for="firstName">First Name</label>
                          <input
                          type="text"
                          class="form-control"
                          id="firstName"
                          placeholder="First Name"
                          [(ngModel)]="userModal.name"
                          name="firstName"
                          #nameInput="ngModel"
                          required>
                          <div class="help is-error" *ngIf="nameInput.invalid && nameInput.touched">
                            Your name is required.
                          </div>
                        </div>
                        <div class="col">
                          <label for="lastName">Last Name</label>
                          <input type="text" 
                          class="form-control" 
                          placeholder="Last Name" 
                          name="lastName"
                          [(ngModel)]="userModal.lastName"
                          #lastInput = "ngModel" 
                          required>
                          <div class="help is-error" *ngIf="lastInput.invalid && lastInput.touched">
                            Your last name is required.
                          </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col">
                            <label for="email">Email</label>
                            <input 
                            type="mail" 
                            class="form-control lgInput" 
                            placeholder="Enter Email" 
                            name="email"
                            [(ngModel)]="userModal.email"
                            #emailInput="ngModel"
                            required
                            email>
                            <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
                              Please enter a valid email address.
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <label for="email">City</label>
                          <input 
                          type="mail" 
                          class="form-control" 
                          placeholder="City" 
                          name="city"
                          [(ngModel)]="userModal.city"
                          #cityInput="ngModel"
                          required>
                          <div class="help is-error" *ngIf="cityInput.invalid && cityInput.touched">
                            Your city is required.
                          </div>
                        </div>
                        <div class="col-3">
                            <label for="state">State</label>
                            <input 
                            type="text" 
                            class="form-control smInput" 
                            placeholder="State" 
                            name="state"
                            [(ngModel)]="userModal.state"
                            #stateInput="ngModel"
                            required>
                            <div class="help is-error" *ngIf="stateInput.invalid && stateInput.touched">
                              Your state is required.
                            </div>
                        </div>
                        <div class="col-3">
                            <label for="zipCode">Zip Code</label>
                            <input 
                            type="number" 
                            class="form-control smInput" 
                            placeholder="Zip" 
                            name="zipCode"
                            [(ngModel)]="userModal.zipCode"
                            #zipInput="ngModel"
                            required>
                            <div class="help is-error" *ngIf="zipInput.invalid && zipInput.touched">
                              Your zip code is required.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <label for="password">Create Password</label>
                          <input 
                          type="password" 
                          class="form-control lgInput" 
                          placeholder="*********" 
                          name="password"
                          [(ngModel)]="userModal.password"
                          #passwordInput="ngModel"
                          appPasswordPattern
                          required>
                          <div class="help is-error" *ngIf="(passwordInput.touched || registerForm.submitted) && passwordInput.errors?.required">
                            You need create a password.
                          </div>
                          <div class="help is-error" *ngIf="passwordInput.touched && passwordInput.errors?.invalidPassword">
                            Should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                            letter and 1 number
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <label for="cpassword">Confirm Password</label>
                          <input 
                          type="password" 
                          class="form-control lgInput" 
                          placeholder="*********" 
                          name="cpassword"
                          [(ngModel)]="userModal.cpassword"
                          #cpasswordInput="ngModel"
                          required>
                          <div class="help is-error" *ngIf="(cpasswordInput.touched || registerForm.submitted) && cpasswordInput.errors?.required">
                            You need confirm your password.
                          </div>
                          <div class="help is-error" *ngIf="cpasswordInput.touched && cpasswordInput.errors?.passwordMismatch">
                            Those passwords don’t match. Please try again.
                          </div>
                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                          <button 
                          type="submit" 
                          class="btn buttonInput" 
                          [disabled]="registerForm.invalid">
                            Next
                          </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>