<div>
  <div>
    <div class="col text-right pr-5">
      <button class="btn btn-application text-white">Save Application for Later</button>
    </div>
    <div class="container-fluid padContainer">
      <div class="row mb-3 mt-3">
        <div class="col-12 col-md-12 ">
          <div class="col text-center mt-5">
            <span class="select-div">Bookkeeper Assessment</span>
          </div>
          <div class="col text-center mt-3">
            <span class="edu-div">You completed bookkeeper assessment!</span>
          </div>
          <div class="result d-flex flex-column align-items-center">
            <div (click)="displayAnotherPage()" [ngClass]="isPass?' ':'assessment--fail'" class="question_attempted">36/40</div>
            <span *ngIf="isPass">Congratulations you passed!</span>
            <span  *ngIf="!isPass">You did not pass. Please try again.</span>
            <button [routerLink]="'/plan'" class="btn btn-back">Back to Application</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

