@import "variables";
@import "breakpoints";

.select-div {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: $primaryText;
}

.edu-div {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: $btnGreen;
}

.result {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: $primaryText;
}

.question_attempted {
  margin: 3.6rem auto;
}

.assessment--fail{
  color: $redText;
}

.btn-back {
  background: $btnGreen;
  border-radius: 74px;
  color: $white;
  width: 200px;
  height: 47px;
  font-family: $secondaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 25px;
  text-align: center;
  margin-top: 67px;
}
