<div class="container-fluid padContainer">
    <div class="row cleartop JobTitle">
        <div class="col-12 col-md-4 subtitle jobListTittle">
            Controller Jobs
        </div>
    </div>
    <div class="row WrapperSearchSection">
        <div class=" col-sm-8 col-md-8 col-lg-8 col-xl-8" id="searchWrapper" style="margin-top: 20px;">
            <div class="col-md-12" id="search">
                <div class="icons">
                    <img src="assets/home/icon_searchGrey.png" alt="">
                </div>
                <input class="searchInput" type="text" placeholder="Advanced Search">
            </div>
        </div>
        <div class="row col-md-4 topButtons">
            <div class="dropdown">
                <button class="btn buttonInputSort" type="button" id="sortByButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by
                <i class="fa fa-chevron-down marginRow"></i>
                </button>
                <form class="dropdown-menu p-3 list">
                    <div class="form-group">
                      
                      <div><button class="btn btn-sort">Experience</button></div>
                      <div><button class="btn btn-sort">Location</button></div>
                      <div><button class="btn btn-sort">Price</button></div>
                      <div><button class="btn btn-sort">Star Date</button></div>
                    </div>
                  </form>
            </div> 

            <div>
            <button class="btn buttonInputPost" type="button" id="postAJobButton" aria-haspopup="true" aria-expanded="false">
                Post a job
            </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 jobCard">
        <div class="cardContent col-md-12">
            <div class="messageTitle subtitle JobCardTitle">
                <a (click)="navegarHaciaProfile()">Job Title</a>
            </div>
            <div class="jobCardDatePublished">
                Posted 5h ago
            </div>
            <div class="jobCardContent col-md-12">
                <div class="row col-md-12 JobsDetailsWrapper">
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Hours needed</div>
                        <div class="jobsSpecificationDesc">10/hrs week</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Duration</div>
                        <div class="jobsSpecificationDesc">3 months</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Experience level</div>
                        <div class="jobsSpecificationDesc">CFO</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Location</div>
                        <div class="jobsSpecificationDesc">Scranton, PA</div>
                    </div>
                    <div class="col-md-3">
                        <div class="jobsSpecificationTittle">Education requirement</div>
                        <div class="jobsSpecificationDesc">Master degree</div>
                    </div>
                </div>
            </div>

            <div class="JobDescriptionWrapper col-md-10">
                <hr >
                <div class="jobDescriptionTitle">
                    Job description
                </div>

                <div class="col col-md-12 description">
                    <p class="paragDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum, est a posuere vulputate, odio lorem interdum eros, id luctus purus augue in ipsum. Pellentesque id faucibus est, sit amet porta massa. Sed libero nisi, tempor
                        non condimentum a, fringilla vitae nisi. Aliquam laoreet, justo a interdum tristique, leo justo iaculis enim, non ultrices elit nisi ut mi. Nulla purus dui, semper eu gravida a, laoreet sit amet nibh. Quisque quis justo dolor.
                        Vivamus imperdiet nisi ipsum, at interdum mi porta id. Fusce viverra luctus turpis sed dapibus. Pellentesque eu lacinia quam. Phasellus eget ligula ut nunc accumsan hendrerit. Mauris commodo metus tortor, ut scelerisque enim elementum
                        at. Etiam sollicitudin turpis vel commodo gravida. Cras at metus scelerisque, volutpat magna sed, vulputate dui. Nam convallis sagittis dui eu euismod. Mauris dictum dui nisl, sit amet dictum diam hendrerit ac.
                    </p>
                    <a class="linkToJobProfile" (click)="navegarHaciaProfile()">Read more...</a>
                </div>
                <hr class="lineDivInf">
            </div>

            <div class="row col-md-12 DownButtons">
                <div class="col col-md-6 buttonsleft" style="width:800px; margin:0 auto;">
                    <div class="tag opcion">Tags</div>
                    <div class="tag opcion">Tags</div>
                    <div class="tag opcion">Tags</div>
                </div>
                <div class="row col-md-6 HeartButton container">
                    <div class="item">
                        <input type="submit" class="form-control buttonInput" value="Apply now" name="capply">
                    </div>
                    <div class="item">
                        <div (click)="showFav1=!showFav1">
                            <i class="fa fa-heart-o hearts imgHeart" *ngIf="!showFav1"></i>
                            <i class="fa fa-heart hearts imgHeart" *ngIf="showFav1"></i>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 jobCard">
        <div class="cardContent col-md-12">
            <div class="messageTitle subtitle JobCardTitle">
                <a (click)="navegarHaciaProfile()">Job Title</a>
            </div>
            <div class="jobCardDatePublished">
                Posted 5h ago
            </div>
            <div class="jobCardContent col-md-12">
                <div class="row col-md-12 JobsDetailsWrapper">
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Hours needed</div>
                        <div class="jobsSpecificationDesc">10/hrs week</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Duration</div>
                        <div class="jobsSpecificationDesc">3 months</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Experience level</div>
                        <div class="jobsSpecificationDesc">CFO</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Location</div>
                        <div class="jobsSpecificationDesc">Scranton, PA</div>
                    </div>
                    <div class="col-md-3">
                        <div class="jobsSpecificationTittle">Education requirement</div>
                        <div class="jobsSpecificationDesc">Master degree</div>
                    </div>
                </div>
            </div>

            <div class="JobDescriptionWrapper col-md-10">
                <hr >
                <div class="jobDescriptionTitle">
                    Job description
                </div>

                <div class="col col-md-12 description">
                    <p class="paragDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum, est a posuere vulputate, odio lorem interdum eros, id luctus purus augue in ipsum. Pellentesque id faucibus est, sit amet porta massa. Sed libero nisi, tempor
                        non condimentum a, fringilla vitae nisi. Aliquam laoreet, justo a interdum tristique, leo justo iaculis enim, non ultrices elit nisi ut mi. Nulla purus dui, semper eu gravida a, laoreet sit amet nibh. Quisque quis justo dolor.
                        Vivamus imperdiet nisi ipsum, at interdum mi porta id. Fusce viverra luctus turpis sed dapibus. Pellentesque eu lacinia quam. Phasellus eget ligula ut nunc accumsan hendrerit. Mauris commodo metus tortor, ut scelerisque enim elementum
                        at. Etiam sollicitudin turpis vel commodo gravida. Cras at metus scelerisque, volutpat magna sed, vulputate dui. Nam convallis sagittis dui eu euismod. Mauris dictum dui nisl, sit amet dictum diam hendrerit ac.
                    </p>
                    <a class="linkToJobProfile" (click)="navegarHaciaProfile()">Read more...</a>
                </div>
                <hr class="lineDivInf">
            </div>

            <div class="row col-md-12 DownButtons">
                <div class="col col-md-6 buttonsleft" style="width:800px; margin:0 auto;">
                    <div class="tag opcion">Tags</div>
                    <div class="tag opcion">Tags</div>
                    <div class="tag opcion">Tags</div>
                </div>
                <div class="row col-md-6 HeartButton container">
                    <div class="item">
                        <input type="submit" class="form-control buttonInput" value="Apply now" name="capply">
                    </div>
                    <div class="item">
                        <div class="collapsible-header" (click)="showFav2=!showFav2">
                            <i class="fa fa-heart-o hearts imgHeart" *ngIf="!showFav2"></i>
                            <i class="fa fa-heart hearts imgHeart" *ngIf="showFav2"></i>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 jobCard">
        <div class="cardContent col-md-12">
            <div class="messageTitle subtitle JobCardTitle">
                <a (click)="navegarHaciaProfile()">Job Title</a>
            </div>
            <div class="jobCardDatePublished">
                Posted 5h ago
            </div>
            <div class="jobCardContent col-md-12">
                <div class="row col-md-12 JobsDetailsWrapper">
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Hours needed</div>
                        <div class="jobsSpecificationDesc">10/hrs week</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Duration</div>
                        <div class="jobsSpecificationD">3 months</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Experience level</div>
                        <div class="jobsSpecificationDesc">CFO</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Location</div>
                        <div class="jobsSpecificationDesc">Scranton, PA</div>
                    </div>
                    <div class="col-md-3">
                        <div class="jobsSpecificationTittle">Education requirement</div>
                        <div class="jobsSpecificationDesc">Master degree</div>
                    </div>
                </div>
            </div>

            <div class="JobDescriptionWrapper col-md-10">
                <hr >
                <div class="jobDescriptionTitle">
                    Job description
                </div>

                <div class="col col-md-12 description">
                    <p class="paragDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum, est a posuere vulputate, odio lorem interdum eros, id luctus purus augue in ipsum. Pellentesque id faucibus est, sit amet porta massa. Sed libero nisi, tempor
                        non condimentum a, fringilla vitae nisi. Aliquam laoreet, justo a interdum tristique, leo justo iaculis enim, non ultrices elit nisi ut mi. Nulla purus dui, semper eu gravida a, laoreet sit amet nibh. Quisque quis justo dolor.
                        Vivamus imperdiet nisi ipsum, at interdum mi porta id. Fusce viverra luctus turpis sed dapibus. Pellentesque eu lacinia quam. Phasellus eget ligula ut nunc accumsan hendrerit. Mauris commodo metus tortor, ut scelerisque enim elementum
                        at. Etiam sollicitudin turpis vel commodo gravida. Cras at metus scelerisque, volutpat magna sed, vulputate dui. Nam convallis sagittis dui eu euismod. Mauris dictum dui nisl, sit amet dictum diam hendrerit ac.
                    </p>
                    <a class="linkToJobProfile" (click)="navegarHaciaProfile()">Read more...</a>
                </div>
                <hr class="lineDivInf">
            </div>

            <div class="row col-md-12 DownButtons">
                <div class="col col-md-6 buttonsleft" style="width:800px; margin:0 auto;">
                    <div class="tag opcion">Tags</div>
                    <div class="tag opcion">Tags</div>
                    <div class="tag opcion">Tags</div>
                </div>
                <div class="row col-md-6 HeartButton container">
                    <div class="item">
                        <input type="submit" class="form-control buttonInput" value="Apply now" name="capply">
                    </div>
                    <div class="item">
                        <div class="collapsible-header" (click)="showFav3=!showFav3">
                            <i class="fa fa-heart-o hearts imgHeart" *ngIf="!showFav3"></i>
                            <i class="fa fa-heart hearts imgHeart" *ngIf="showFav3"></i>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12 jobCard">
        <div class="cardContent col-md-12">
            <div class="messageTitle subtitle JobCardTitle">
                <a (click)="navegarHaciaProfile()">Job Title</a>
            </div>
            <div class="jobCardDatePublished">
                Posted 5h ago
            </div>
            <div class="jobCardContent col-md-12">
                <div class="row col-md-12 JobsDetailsWrapper">
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Hours needed</div>
                        <div class="jobsSpecificationDesc">10/hrs week</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Duration</div>
                        <div class="jobsSpecificationDesc">3 months</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Experience level</div>
                        <div class="jobsSpecificationDesc">CFO</div>
                    </div>
                    <div class="col-md-2">
                        <div class="jobsSpecificationTittle">Location</div>
                        <div class="jobsSpecificationDesc">Scranton, PA</div>
                    </div>
                    <div class="col-md-3">
                        <div class="jobsSpecificationTittle">Education requirement</div>
                        <div class="jobsSpecificationDesc">Master degree</div>
                    </div>
                </div>
            </div>

            <div class="JobDescriptionWrapper col-md-10">
                <hr >
                <div class="jobDescriptionTitle">
                    Job description
                </div>

                <div class="col col-md-12 description">
                    <p class="paragDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum, est a posuere vulputate, odio lorem interdum eros, id luctus purus augue in ipsum. Pellentesque id faucibus est, sit amet porta massa. Sed libero nisi, tempor
                        non condimentum a, fringilla vitae nisi. Aliquam laoreet, justo a interdum tristique, leo justo iaculis enim, non ultrices elit nisi ut mi. Nulla purus dui, semper eu gravida a, laoreet sit amet nibh. Quisque quis justo dolor.
                        Vivamus imperdiet nisi ipsum, at interdum mi porta id. Fusce viverra luctus turpis sed dapibus. Pellentesque eu lacinia quam. Phasellus eget ligula ut nunc accumsan hendrerit. Mauris commodo metus tortor, ut scelerisque enim elementum
                        at. Etiam sollicitudin turpis vel commodo gravida. Cras at metus scelerisque, volutpat magna sed, vulputate dui. Nam convallis sagittis dui eu euismod. Mauris dictum dui nisl, sit amet dictum diam hendrerit ac.
                    </p>
                    <a class="linkToJobProfile" (click)="navegarHaciaProfile()">Read more...</a>
                </div>
                <hr class="lineDivInf">
            </div>

            <div class="row col-md-12 DownButtons">
                <div class="col col-md-6 buttonsleft" style="width:800px; margin:0 auto;">
                    <div class="tag opcion">Tags</div>
                    <div class="tag opcion">Tags</div>
                    <div class="tag opcion">Tags</div>
                </div>
                <div class="row col-md-6 HeartButton container">
                    <div class="item">
                        <input type="submit" class="form-control buttonInput" value="Apply now" name="capply">
                    </div>
                    <div class="item">
                        <div class="collapsible-header" (click)="showFav4=!showFav4">
                            <i class="fa fa-heart-o hearts imgHeart" *ngIf="!showFav4"></i>
                            <i class="fa fa-heart hearts imgHeart" *ngIf="showFav4"></i>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <nav>
        <ul class="pagination justify-content-end">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <i class="fas fa-angle-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <i class="fas fa-angle-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

</div>
