@import "variables";
@import "breakpoints";

.btn-sort {
    width: 91%;
    color: #fff;
    background-color: #21B996;
    border-color: #21B996;
    border-radius: 18px;
    font-size: 10px;
    font-family: "Source Sans Pro";
    margin-top: 10px;
    margin-left: 10px;
}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap; 
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 16px;
    .buttonInputPost {
        //float: right;
        width: 100px;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        background: $btnPurple;
        border-radius: 25px;
        height: 30px;
        color: #FFFFFF;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
        margin-left: 46px;
    }
}

.topButtons{
    padding-left: 90px;
    padding-right: 0px;
    margin-top: 30px;
}

.WrapperSearchSection{
    padding-bottom: 0px;
    margin-bottom: 36px;
    height: 68px;
}

.buttonInputSort {
    //float: right;
    width: 100px;
    height: 30px;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: $btnGreen;
    border-radius: 25px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-left: 40px;
    .marginRow{
        margin-left: 20px;
    }
}

.buttonInputPost {
    //float: right;
    width: 100px;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    background: $btnPurple;
    border-radius: 25px;
    height: 30px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    margin-left: 40px;
}

.findText {
    width: 100%;
    margin-bottom: 75px;
    @include breakpoint(tablet) {
        width: 100%;
        padding-right: 120px;
    }
    @include breakpoint(desktop_regular) {
        width: 100%;
        padding-right: 120px;
    }
}

.content {
    float: right;
    width: 148px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    overflow: hidden;
    color: #EFEFEF;
    //border-radius: 74px;
    line-height: 25px;
    text-align: center;
    background: $btnGreen;
    border-radius: 25px;
    height: 45px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content img {
    margin: 15px;
    float: right;
}

.fon {
    position: relative;
    top: 10px;
}

#searchWrapper {
    height: 45px;
    //padding-bottom: 80px;
    margin-right: 0;
    padding-right: 0;
    #search {
        width: 75%;
        height: 45px;
        background-color: #EFEFEF;
        border-radius: 20px;
        //margin-bottom: 120px;
        .icons {
            display: flex;
            justify-content: right;
            align-items: center;
            width: 15%;
            padding: 12px 0;
            float: right;
            img {
                float: right;
                margin: 0 10px;
            }
            .arrow {
                cursor: pointer
            }
        }
        .searchInput {
            width: 80%;
            height: 45px;
            border: none;
            background: none;
            float: left;
            outline: none;
            color: #B0B0B0;
            font-family: $primaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            &::placeholder {
                color: #B0B0B0;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
            }
            &:focus {
                border: none;
            }
        }
        .buttonInput {
            float: right;
            width: 148px;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            background: $btnPurple;
            border-radius: 25px;
            height: 45px;
            color: #FFFFFF;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;
        }
    }
    .searchButtons {
        text-align: right;
        float: right;
        justify-content: right;
        height: 45px;
        flex-direction: row-reverse;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 50px;
        .buttonInputSort {
            float: right;
            width: 100px;
            height: 30px;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            background: $btnGreen;
            border-radius: 25px;
            color: #FFFFFF;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;
            margin-left: 40px;
        }
        .buttonInputPost {
            float: right;
            width: 100px;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            background: $btnPurple;
            border-radius: 25px;
            height: 30px;
            color: #FFFFFF;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;
            margin-left: 40px;
        }
    }
}

.jobListTittle {
    padding-bottom: 106px;
    //margin-bottom: 120px;
    font-size: 45px;
    font-family: $primaryFont;
    line-height: 55px;
}

.JobDescriptionWrapper {
    padding-top: 20px;
    padding-bottom: 45px;
    margin: 0 auto;
    .jobDescriptionTitle{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 19px;
        font-family: $primaryFont;
    }
    .description {
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        color: #4D4F5C;
        margin-left: 0;
        padding-bottom: 30px;
        .paragDesc{
            padding-bottom: 0px;
            margin-bottom: 0px;
        }

        padding-left: 0px;
        text-align: left;
        .linkToJobProfile{
            color: blue;
            font-family: $secondaryFont;
            font-size: 13px;
            line-height: 19px;
            text-align: left;
            margin-top: 0px;
            padding-top: 4px;
            cursor: pointer;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .lineDivInf{
        margin-top: 5px;
    }
}

.tag {
    font-family: $primaryFont;
    background-color: $tag;
    width: 70px;
    height: 25px;
    border-radius: 15px;
    float: left;
    margin-right: 29px;
    text-align: center;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 20.48px;
    font-size: 12px;
    line-height: 25px;
}

.DownButtons {
    text-align: center;
    margin: auto;
    .HeartButton {
        flex-direction: row-reverse;
        display: inline;
        /*display: flex;
        width: 100%;
        text-align: center;*/
        .imgHeart {
            text-align: right;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
        .item {
            flex-direction: row-reverse;
            padding-left: 50%;
            padding: 0px 0px 20px 24px !important;
            border: none;
            vertical-align: top;
            height: 48px;
            line-height: 25px;
            float: right;
            .buttonInput {
                width: 100px;
                height: 30px;
                font-family: $secondaryFont;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                color: #FFFFFF;
                background: $btnAquaGrey;
                border-radius: 74px;
                margin: 0;
                padding-left: 10px;
                //margin-top: 30px;
                .buttonContent {
                    //margin-left: 20px;
                    text-align: right;
                    padding-left: 0px;
                    margin: 0 auto;
                    display: inline;
                }
            }
        }
    }
}

.JobsDetailsWrapper {
    padding-top: 36px;
    text-align: center;
    margin: 0 auto;
    .jobsSpecificationTittle {
        font-size: 11px;
        line-height: 14px;
        font-family: $secondaryFont;
    }
    .jobsSpecificationDesc {
        font-size: 20px;
        line-height: 24px;
        font-family: $primaryFont;
        padding-top:10px;
    }
    .description {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 9px;
        color: #4D4F5C;
        margin-left: 0;
        line-height: normal;
        padding-bottom: 30px;
        padding-left: 0px;
    }
}

.padContainer {
    .jobCard {
        //padding-top: 36px;
        padding-top: 35px;
        margin-bottom: 35px;
        @include breakpoint(1366px) {
            padding-top: 0px;
            margin-bottom: 70px;
         }
        .cardContent {
            padding-top: 10px;
            .JobCardTitle{
                font-size: 29px;
                line-height: 35px;
                padding-top: 36px;
                padding-left: 47px;
                cursor: pointer;
            }
        }
        .jobCardDatePublished{
            font-size: 13px;
            line-height: 16px;
            padding-top: 7px;
            padding-left: 47px;
            font-family: $secondaryFont;
        }
    }
}

#searchSection {
    width: 80%;
    //height: 45px;
    background-color: #EFEFEF;
    border-radius: 20px;
    margin-bottom: 120px;
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        padding: 12px 0;
        float: left;
        height: 45px;
        img {
            float: left;
            margin: 0 10px;
        }
        .arrow {
            cursor: pointer
        }
    }
    .icons2 {
        display: flex;
        justify-content: right;
        align-items: center;
        width: 15%;
        padding: 12px 0;
        float: initial;
        /*img {
            float: right;
            margin: 0 10px;
        }*/
        img {
            //background: url('/qkly-marketplace-ui/src/assets/home/heart.png');
            background-size: cover;
            width: 20px;
            height: 20px;
            display: inline-block
        }
        .arrow {
            cursor: pointer
        }
    }
    .searchInput {
        width: 50%;
        height: 45px;
        border: none;
        background: none;
        float: left;
        outline: none;
        color: #B0B0B0;
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        &::placeholder {
            color: #B0B0B0;
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
        }
        &:focus {
            border: none;
        }
    }
    .buttonInput {
        float: right;
        width: 148px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        background: $btnPurple;
        border-radius: 25px;
        height: 45px;
        color: #FFFFFF;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
    }
    .jobCard {
        text-align: center;
        float: right;
        margin-top: 100px;
        padding-top: 100px;
        .cardContent {
            .jobCardTittle {
                text-align: center;
                color: #AC32D9;
                padding-top: 30px;
                margin-top: 20px;
                font-size: 29px;
                line-height: 35px;
            }
            .jobCardContent {
                text-align: left;
            }
            .jobCardFooter {
                text-align: left;
                .imgHeart {
                    float: right;
                    width: 25px;
                    height: 23px;
                }
            }
        }
    }
}

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: $primaryText;
    background-color: $btnAqua;
    border-color: #ddd;
    border: 1px solid #B0B0B0;
}

.pagination > .active > a
{
    color: white;
    background-color: $primaryText !Important;
    border: solid 1px $primaryText !Important;
}

.pagination > .active > a:hover
{
    background-color: $primaryText !Important;
    border: solid 1px $primaryText;
}