@import "breakpoints";
.container {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.step-navigation-bar {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.active {
  color: blue;
}

.step {
  background: transparent;
  border: 0;
  margin: 0 10px 0 10px;
  padding: 5px;
  color: black;
}

.step.active {
  color: blue;
  border-bottom: 1px solid #00c299;
  background: #00c299;
}

.nav-button {
  background: transparent;
  border: 0;
}

.step-btn {
  width: 10px;
  height: 33px;
  border-radius: 0px;
  background: #d7d7d7;
}

.step-btn1 {
  width: 10px;
  margin: 0px 0px 16px -4px;
  height: 15px;
  border-radius: 0px;
  background: #d7d7d7;
}

.step-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.step-btn1:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.title-div {
  display: inline-block;
  width: 270px;
  color: #b0b0b0;
  text-align: left;
  margin-left: 35px;
  @include breakpoint(tablet) {
    width: 180px;
  }
  @include breakpoint(tablet-horizontal) {
    width: 240px;
  }
}

#pp-div {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-left: 35px;
  vertical-align: top;
  width: 270px;
  line-height: 15px;
  color: #b0b0b0;
}

#pp-div.active {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  vertical-align: top;
  margin-left: 35px;
  width: 270px;
  line-height: 15px;
  color: #707070;
}

.title-div.active {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #4d4f5c;
}

.bordered-div {
  height: 35px;
  width: 1px;
  background: #d7d7d7;
}

.bordered-div.active {
  background: #00c299;
}

.skip-div {
  @include breakpoint(tablet) {
    padding-right: 10rem;
  }
}

.next-div {
  @include breakpoint(tablet) {
    padding-right: 7rem;
  }
}

.title-block {
  display: inline-grid;
  padding-left: 60px;
  margin-top: 60px;
}

.main-div {
  display: block;
  height: 0px;
  line-height: 8;
}

.child {
  margin-left: 14px;
}

.basic-info {
  height: -1px;
}
