<div class="d-flex">
  <!-- <header>
      <h2>Step {{selectedParentIndex + 1}}/{{_steps.length}}</h2>
    </header>-->



  <div class="col-md-2 title-block">

    <div *ngFor="let steps of stepList; let i = index;" class="basic-info">
      <button class="step step-btn btn" id="stepBtn" [ngClass]="{'active': selectedParentIndex > i}"
        (click)="onClick(i)">
        <span class="title-div" [ngClass]="{'active': selectedParentIndex > i}">{{stepList[i].name}}
        </span>

        <div class="bordered-div" [ngClass]="{'active': selectedParentIndex > i}"
          [hidden]="(stepList[i].name === 'Assessments')"
          [ngStyle]="{'height': (stepList[i].name === 'Profile Details')? '60px': '35px'}">
        </div>
      </button>
      <div class="child" *ngFor="let stepslist of steps.children; let j = index">
        <button [ngStyle]="{'margin-top': (stepslist.name === 'Education')? '25px': ''}" class="step step-btn1 btn"
          [ngClass]="{'active': selectedParentIndex > i? true: selectedChildIndex > j}" (click)="onChildClick(i,j)">
          <span id="pp-div" class="title-div"
            [ngClass]="{'active': selectedParentIndex > i? true: selectedChildIndex > j}">{{stepslist.name}}</span>
          <div class="bordered-div" [ngClass]="{'active': selectedParentIndex > i? true: selectedChildIndex > j}">
          </div>
        </button>
      </div>
    </div>
  </div>
  <div [style.display]="selected ? 'block' : 'none'" class="col-md-10">
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>

</div>
<div class="footer">
  <div class="row mt-5 mr-0 ml-0">
    <div class="col-md-6 pl-5">
      <button class="btn text-white btn-skip" (click)="backPage()"
        [routerLink]="selectedParentIndex === 0 ? ['/get-started'] : []">Back
      </button>
    </div>
    <div class="col-md-6 justify-content-end d-flex pr-5">
      <div class="col-md-3 skip-div" *ngIf="isVisible">
        <button class="btn text-white btn-skip" (click)="nextPage()">Skip
        </button>
      </div>
      <div class="col-md-3 next-div">
        <button class="btn text-white btn-next" (click)="nextPage()">Next
        </button>
      </div>
    </div>
  </div>
</div>