
@import "variables";
@import "breakpoints";

.wrapProvider{
    padding-left: 15px;
    padding-right: 15px;
    color:$primaryText;

    @include breakpoint(tablet) {
        padding-left: 30px;
        padding-right: 30px;
    }

    // @include breakpoint(tablet-horizontal) {
    //     padding-left: 120px;
    //     padding-right: 120px;
    // }

    @include breakpoint(desktop) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @include breakpoint(desktop_regular) {
        padding-left: 130px;
        padding-right: 130px;
    }
}
#provider-profile{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    .cleartop{
        margin-top: 50px;
        @include breakpoint(tablet){
            margin-top: 100px; 
         }
    }
    .marginRow{
        margin-top: 50px;
    }
    .avatar{
        width: 100%;
        max-width: 256px;
        margin: 0 auto;
        @include breakpoint(tablet){
           margin:none; 
        }
        img{
            width: 100%;
        }
    }

    .text{
        max-width: 797px;
        font-family:$primaryFont;
        color:$primaryText;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
    }

    .SubInt{
        font-size: 46px;
        line-height: 55px;
        margin-bottom: 40px;
    }

    

    .contMessage{
        max-width: 256px;
        margin: 0 auto;
        @include breakpoint(tablet){
            margin:none; 
         }
        .msg{
            width: 200px;
            height:50px;
            background-color: $btnBlue;
            border-radius: 20px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:25px;
           
           
            a{
                color: white;
                font-family: $primaryFont;
                font-size: 25px;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .marginEspecial{
        margin-top: 50px;
    }

    .dataProvider{
        padding-left: 0;
        font-size: 30px;
        color: $primaryText;
        margin-bottom: 20px;
        text-align: center;
        // margin-top: 17px;
        @include breakpoint(tablet){
            width: fit-content;
            max-width: 100%;
         }
        .nameProv{
            width:100%;
            max-width: 100%;
            font-size: 45px;
            margin-right: 20px;
            float:left;
        }
        
        .rank{
            font-size: 35px;
        }
        .ratedlvl{
            font-family: $secondaryFont;
            width: 100%;
            color:$redText;
            float: left;
            @include breakpoint(tablet){
                width: fit-content;
             }
        }
        .separator{
            width: 1px;
            height: 25px;
            float: left;
            margin-top: 14px;
            border-right: #000 solid 2px;
            margin: 10px 24px 0;
            display:none;
            @include breakpoint(tablet){
                display: block;
             }
        }

        .city{
            font-family: $secondaryFont;
            float: left;
            text-align: center;
            width: 100%;
            @include breakpoint(tablet){
               text-align: left;
               width: fit-content;
             }
        }
    }
    .tag{
        font-family: $secondaryFont;
        background-color: $tag;
        width: 71.68px;
        height: 25px;
        border-radius: 15px;
        float: left;
        margin-right: 4%;
        margin-left: 4%;
        text-align: center;
        color: #FFF;
        font-size: 12px;
        line-height: 25px;
        cursor: pointer;
        @include breakpoint(tablet){
            margin-right: 20.48px;
            margin-left: 0px;
          }
    }

    .skills{
        width: 100%;
        @include breakpoint(tablet){
            width: 61%;
          }
        .skill{
            font-family: $secondaryFont;
            background-color: $btnBlue;
            width: 70px;
            height: 25px;
            border-radius: 15px;
            float: left;
            margin-right: 25px;
            text-align: center;
            color: #FFF;
            font-size: 12px;
            line-height: 25px;
            margin-bottom: 29px;
            cursor: pointer;
            @include breakpoint(tablet){
                margin-right: 30px;
              }
        }
    }

    .service{
        width: 100%;
        max-width: 100%;
        height:380px;
        padding: 12px 10px 12px 24px  ;
        margin-right: 2.1%;
        float: left;
        color:$primaryText;
        margin-bottom: 20px;
        position: relative;
        @include breakpoint(tablet){
            width: 31%;
            max-width: 260px;
        }
        .titleService{
            font-family: $primaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
        }
        .textService{
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            margin-top: 15px;
        }

        .boxServices{
            width: 80%;
            position: absolute;
            bottom: 29px;
            margin: 0;
            .priceService{
                // margin-top:40px;
                font-family: $primaryFont;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
             }
             .btnService{
                width: 150px;
                height: 25px;
                font-family: $primaryFont;
                font-size: 15px;
                line-height: 24.5px;
                margin-top: 18px;
             }
        }
       
    }

    .review{
        max-width: 798px;
        height: auto;
        width: 100%;
        padding: 14px 34px 34px 34px;
        .subtitleRev{
            font-family: $primaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 37px;
        }

        .dataReview{
            width: 100%;
            margin-bottom: 21px;
            margin-top: 3px;
            height: 31px;

            .date{
                font-family: $secondaryFont;
                color:$primaryText;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 19px;
                margin-left: 35px;
                float: left;
                margin-top: 14px;
            }

            .reviewStars{
                width: fit-content;
                float: left;
                font-size: 30px;
            }
        }

        .textReview{
            font-family: $secondaryFont;
            color:$primaryText;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 19px;
        }
    }

    .imagePortafolio{
        float: left;
        cursor:pointer;
        img{
            width: 100%;
        }
    }

  

    .sidebarTitle{
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        width: 100%;
    }

    .subtitleSideBar{
        font-family: $secondaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 6px;
    }

    .dateAvailable{
        margin-bottom: 27px;
    }

    .social{
        margin-top: 20px;
        margin-bottom: 22px;
        .imgSocial{
            width: 22%;
            max-width: 70px;
            // height: 70px;
            float: left;
            margin-right: 30px;
            img{
                width:100%;
            }
        }
    }

    .profileLink{
        width: 100%;
        height: 27px;
        max-width: 300px;
        background: #EFEFEF;
        border-radius: 15px;
        margin: 10px 0 30px;
        input{
            border: none;
            background: no-repeat;
            margin: 0 10px;
            font-family:$secondaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            width: 76%;
            float:left;
            outline:none;
            color:$primaryText;
            &::placeholder{
                color:$primaryText;
            }
        }
        .copyLink{
            float:right;
            font-family:$secondaryFont;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            color:$btnBlue;
            margin-right: 10px;
            margin-top: 3px;
            cursor:pointer;
        }
    }

    .location{
        width: 100%;
        max-width: 300px;
        margin-top: 15px;
        margin-bottom: 57px;
        height: 299px;

        #map {
            height: 100%;
            width: 100%;
        }

        img{
            width: 100%;
        }
    }

    .rptitle{
        margin-bottom: 25px;
    }



    .relatedProfile{
        width: 100%;
        max-width: 300px;
        height: 144px;
        margin-bottom: 35px;
        
        a{
            &:hover{
                text-decoration:none;
                color:none;
            }
        }

        .topRated{
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 19px;
            color:$redText;
            width: 100%;
            text-align: right;
            padding: 5px;
        }

        .box-img{
            width: 100%;
            max-width: 300px;
            height: 90px;
            .profileThumb{
                width: 78px;
                height: 78px;
                float: left;
                margin: 0 20px 0 32px;
            }

            .titleWork{
                font-family: $primaryFont;
                color:$primaryText;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                float:left;
                margin-top: 15px;
            }

            .relatedStars{
                float:left;
            }
        }
        .dataCity{
            width: 100%;
            font-family: $primaryFont;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
        }
    }
}

.arr{
    height: 30px;
    width: 20px;
}   
