<div class="container-fluid wrapProvider" id="provider-profile">
    <div class="row cleartop">
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="avatar"><img src="assets/providers/avatar.png" alt=""></div>
                    <div class="contMessage"><div class="msg"><a href="">Message</a></div></div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12">
                               <div class="dataProvider marginEspecial">
                                    <div class="subtitle nameProv">Steven J.</div>
                                    <div class="rank stars"> 
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                    </div>
                               </div>
                        </div>
                        <div class="col-12">
                            <div class="dataProvider">
                                <div class="ratedlvl">Top Rated</div>
                                <div class="separator"></div>
                                <div class="city">Salt Lake City, Utah</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row marginRow">
                <div class="col-12">
                   <div class="tag">Tags</div>
                   <div class="tag">Tags</div>
                   <div class="tag">Tags</div>
                </div>
            </div>
            <div class="row marginRow">
                <div class="col-12">
                    <div class="subtitle SubInt">Experience</div>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa quam amet, nam sed magna dui ac. Tincidunt eget lacus, orci odio praesent mus. Viverra pellentesque id sit arcu tortor lectus pellentesque enim. Velit et nisi arcu commodo nunc, proin pharetra. Adipiscing amet neque nunc, a scelerisque turpis massa eget. Sodales euismod sed libero tellus, odio hendrerit. Ac mauris mattis id sed morbi facilisi nunc porttitor. Scelerisque feugiat venenatis etiam dui nec venenatis gravida. Read More</div>
                </div>
            </div>
            <div class="row marginRow">
                <div class="col-12">
                    <div class="subtitle SubInt">My Services</div>
                </div>
                <div class="col-12">
                    <div class="service cardContent">
                        <div class="titleService">CFO</div>
                        <div class="textService">A chief financial officer (CFO) is the senior executive responsible for managing the financial actions of a company. The CFO's duties include tracking cash flow and financial planning as well as analyzing the company's financial strengths and weaknesses and proposing corrective actions.</div>
                        <div class="boxServices">
                            <div class="titleService priceService">$125/hr</div>
                            <div class="btnPage btnService">Request To Hire</div>
                        </div>
                    </div>

                    <div class="service cardContent">
                        <div class="titleService">Controller</div>
                        <div class="textService">Controllers either work with or directly under an organization's chief financial officer (CFO), providing key financial information with an eye on future performance. While the traditional role of an accountant is to show historical information reliably, the role of a controller is to anticipate and highlight coming issues.</div>
                        <div class="boxServices">
                            <div class="titleService priceService">$125/hr</div>
                            <div class="btnPage btnService">Request To Hire</div>
                        </div>
                    </div>

                    <div class="service cardContent">
                        <div class="titleService">Bookkeeper</div>
                        <div class="textService">is the recording of financial transactions, and is part of the process of accounting in business. Transactions include purchases, sales, receipts, and payments by an individual person or an organization/corporation. There are several standard methods of bookkeeping, including the single-entry and double-entry bookkeeping systems.</div>
                        <div class="boxServices">
                            <div class="titleService priceService">$125/hr</div>
                            <div class="btnPage btnService">Request To Hire</div>
                        </div>
                    </div>

                    <div class="service cardContent">
                        <div class="titleService">Account Manager</div>
                        <div class="textService">An account manager is generally the business representative with whom the client has the most one-on-one interaction. This staff member oversees the daily, routine tasks involved with addressing the customer’s needs and concerns and maintaining their account activities.</div>
                        <div class="boxServices">
                            <div class="titleService priceService">$125/hr</div>
                            <div class="btnPage btnService">Request To Hire</div>
                        </div>
                    </div>

                    <div class="service cardContent">
                        <div class="titleService">Account Payable</div>
                        <div class="textService">Accounts payable (AP) is an account within the general ledger that represents a company's obligation to pay off a short-term debt to its creditors or suppliers. Another common usage of "AP" refers to the business department or division that is responsible for making payments owed by the company to suppliers and other creditors.</div>
                        <div class="boxServices">
                            <div class="titleService priceService">$125/hr</div>
                            <div class="btnPage btnService">Request To Hire</div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>

            <div class="row marginRow">
                <div class="col-12">
                    <div class="subtitle SubInt">Skills</div>
                </div>
                <div class="col-12">
                    <div class="skills">
                        <div class="skill">Skill</div>
                        <div class="skill">Skill</div>
                        <div class="skill">Skill</div>
                        <div class="skill">Skill</div>
                        <div class="skill">Skill</div>
                        <div class="skill">Skill</div>
                        <div class="skill">Skill</div>
                    </div>
                </div>
            </div>
            <div class="row marginRow">
                <div class="col-12">
                    <div class="subtitle SubInt">Ratings and Reviews</div>
                    <div class="review cardContent">
                        <div class="subtitleRev">Review Title</div>
                        <div class="dataReview">
                            <div class="stars reviewStars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="date">Date of Review</div>
                        </div>
                        <div class="textReview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa quam amet, nam sed magna dui ac. Tincidunt eget lacus, orci odio praesent mus. Viverra pellentesque id sit arcu tortor lectus pellentesque enim. Velit et nisi arcu commodo nunc, proin pharetra. Adipiscing amet neque nunc, a scelerisque turpis massa eget. Sodales euismod sed libero tellus, odio hendrerit. Ac mauris mattis id sed morbi facilisi nunc porttitor. Scelerisque feugiat venenatis etiam dui nec venenatis gravida.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 offset-md-1">
            <div class="row">
                <div class="sidebarTitle">Availability 2:</div>
                <div class="subtitleSideBar dateAvailable">Monday - Friday, 9am - 5pm</div>
            </div>
            <div class="row">
                <div class="sidebarTitle">Share:</div>
                <div class="social">
                    <div class="imgSocial"><a href="http://www.facebook.com/sharer/sharer.php?u={{url}}" target="blank"><img src="assets/social/facebook.png" alt=""></a></div>
                    <div class="imgSocial"><a href="http://twitter.com/share?url={{url}}>&text={{ title }}&via=QKLYMARKETPLACE" target="blank" ><img src="assets/social/twitter.png" alt=""></a></div>
                    <div class="imgSocial"><a href="http://www.linkedin.com/shareArticle?mini=true&url={{url}}&title={{title}}&summary=QKLY Marketplace&source=https://qkly-marketplace-ui.azurewebsites.net/" target="blank"><img src="assets/social/linkedin.png" alt=""></a></div>
                </div>
            </div>
            <div class="row">
                <div class="sidebarTitle">Profile Link:</div>
                <div class="profileLink">
                    <input type="text" id="toCopy" value="https://www.qkly.com/stevenj">
                    <div class="copyLink" (click)="copyText()">COPY</div>
                </div>
            </div>

            <div class="row">
                <div class="sidebarTitle">Location:</div>
                <div class="location">
                    <div #map id="map"></div>
                </div>
            </div>
            <div class="row">
                <div class="sidebarTitle rptitle">Related Profiles</div>
                    <div class="relatedProfile cardContent">
                        <a href="/provider-profile">
                        <div class="topRated">Top Rated</div>
                        <div class="box-img">
                            <div class="profileThumb"><img src="assets/providers/avatar2.png" alt=""></div>
                            <div class="titleWork">Controller</div>
                            <div class="stars relatedStars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="dataCity">Steven J   |   Salt Lake City, Utah</div>
                        </a>
                    </div>

                    <div class="relatedProfile cardContent">
                        <a href="/provider-profile">
                        <div class="topRated">Top Rated</div>
                        <div class="box-img">
                            <div class="profileThumb"><img src="assets/providers/avatar2.png" alt=""></div>
                            <div class="titleWork">Controller</div>
                            <div class="stars relatedStars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                        </div>
                        <div class="dataCity">Steven J   |   Salt Lake City, Utah</div>
                        </a>
                    </div>

                    <div class="relatedProfile cardContent">
                        <a href="/provider-profile">
                        <div class="topRated">Top Rated</div>
                        <div class="box-img">
                            <div class="profileThumb"><img src="assets/providers/avatar2.png" alt=""></div>
                            <div class="titleWork">Controller</div>
                            <div class="stars relatedStars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                        </div>
                        <div class="dataCity">Steven J   |   Salt Lake City, Utah</div>
                        </a>
                    </div>
            </div>
        </div>
    </div>
    <div class="row marginRow">
        <div class="col-12">
            <div class="subtitle SubInt">Portfolio</div>
        </div>
        <div class="col-12">
            <ngx-slick-carousel class="carousel" 
                                #slickModal="slick-carousel" 
                                [config]="slideConfig" >
                <div ngxSlickItem *ngFor="let slide of slides;let i=index" class="slide">
                    <div class="imagePortafolio" (click)="open(i)"><img src="{{ slide.src }}" alt=""  ></div>
                </div>
            </ngx-slick-carousel>
    </div>
    <div class="clearBottom"> </div>
</div>
</div>
