@import "variables";
@import "breakpoints";

.pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: $primaryText;
    background-color: $btnAqua;
    border-color: #ddd;
    border: 1px solid #B0B0B0;
}

.pagination > .active > a
{
    color: white;
    background-color: $primaryText !Important;
    border: solid 1px $primaryText !Important;
}

.pagination > .active > a:hover
{
    background-color: $primaryText !Important;
    border: solid 1px $primaryText;
}