@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap');
// Settings
$primaryFont: 'Montserrat';
$secondaryFont: 'Source Sans Pro';
$primaryText: #4D4F5C;
$redText:#FF6565;
$black: #000;
$white: #fff;
$grey: #b0b0b0;
$green: #00C299;
$lightGrey: #F1F1F3;
$btnGreen: #22B996;
$btnPurple: #AC32D9;
$btnBlue: #288ECE;
$btnOrange: #FF9200;
$btnAqua:#4BACB6;
$starColor:#FFC70B;
$tag:#FF9200;
$hearthColor:#FF6565;
$btnOrange: #FF9200;
$btnAquaGrey: #50ACB5


