@import "variables";
@import "breakpoints";

$green: #56c080;

.cleartop {
  margin-top: 90px;
  @include breakpoint(tablet) {
    margin-top: 55px;
  }
}

.loginText {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  @include breakpoint(tablet) {
    font-size: 50px;
  }
}

.login {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  @include breakpoint(tablet) {
    width: 541px;
    height: 556px;
    margin: 0 auto;
    padding: 55px;
  }

  .loginWraper {
    .titleLog {
      text-align: center;
      margin-bottom: 37px;
    }

    .row {
      margin-bottom: 10px;
    }

    .forPass {
      color: $btnBlue;
      margin-bottom: 35px;
    }

    label {
      font-family: $secondaryFont;
      color: $primaryText;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 19px;
      margin-left: 10px;
    }

    input {
      height: 31px;
      background: #efefef;
      border-radius: 15px;
      border: none;
      font-family: $secondaryFont;
      font-size: 15px;
      outline: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-family: $secondaryFont;
        color: $primaryText;
        font-size: 15px;
      }
    }
  }
}

@import "variables";
@import "breakpoints";

.cleartop {
  margin-top: 90px;
  @include breakpoint(tablet) {
    margin-top: 114px;
  }
}

.loginText {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  @include breakpoint(tablet) {
    font-size: 50px;
  }
}

.login {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
  @include breakpoint(tablet) {
    width: 541px;
    height: 435px;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .loginWraper {
    .titleLog {
      text-align: center;
      margin-bottom: 37px;
    }

    .row {
      margin-bottom: 10px;
    }

    .forPass {
      color: $btnBlue;
      margin-bottom: 35px;
    }

    label {
      font-family: $secondaryFont;
      color: $primaryText;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 19px;
      margin-left: 10px;
    }

    input {
      height: 31px;
      background: #efefef;
      border-radius: 15px;
      border: none;
      font-family: $secondaryFont;
      font-size: 15px;
      outline: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-family: $secondaryFont;
        color: $primaryText;
        font-size: 15px;
      }
    }
  }
}

.btndrop {
  margin-right: 16px;
  color: #4e4b4b;
  background-color: #efefef;
  border-color: #efefef;
  border-radius: 1rem;
  line-height: 17px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  height: 2rem;
}

.btndrop::after {
  display: none;
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #4e4b4b;
  background-color: #efefef;
  border-color: #efefef;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem rgba(171, 177, 172, 0.5);
  outline: 0;
}

.textdrop {
  margin-right: 20px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
  display: flex;
  align-items: flex-end;
  color: #4d4f5c;
}

.textdrop-year {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 31px;
}

.select-div {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: #4d4f5c;
}

.choose-div {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #4d4f5c;
}

/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 5px;
  left: 0px;
  height: 20px;
  width: 20px;
  background: white;
  opacity: 0.2;
  border-radius: 3px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #4d4f5c;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #00c299;
  border-radius: 3px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 1px solid #00c299;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 5px;
  top: 1px;
  width: 8px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.option-div {
  font-size: 20px;
  width: 135px;
}

.fa-question {
  font-size: 14px;
  color: #b0b0b0;
  position: absolute;
  top: 55%;
  left: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.que-div {
  background: #efefef;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
}

.btn-success:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0rem rgba(171, 177, 172, 0.5);
  outline: 0;
}

.list {
  text-align: center;
}

:host::ng-deep .popover {
  max-width: 460px !important;
  box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.26);
  border-radius: 0px;
  border: 0px;
  text-align: left;
  justify-content: center;
}

:host::ng-deep .bs-popover-right > .arrow::before,
.bs-popover-auto > .arrow::before {
  left: 0;
  border-width: 0.5rem 0.5rem 0.5rem 0px;
  border-right-color: rgba(0, 0, 0, 0);
}

.dropdown-priority.show {
  display: block;
  min-width: 190px;
  left: 25px !important;
  background: #ffffff;
  box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.26);
}

.dropdown-priority1.show {
  display: block;
  min-width: 160px;
  max-height: 280px;
  overflow-y: auto;
  left: 25px !important;
  background: #ffffff;
  box-shadow: 0px 9px 13px rgba(0, 0, 0, 0.26);
}

.button-dropdown {
  margin-right: 0px;
  font-size: 12px;
  word-break: break-word;
  border-width: 0px;
  width: 100%;
  height: 40px;
  text-align: left;
  padding-left: 3rem;
  background: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  font-family: "SourceSansPro-Regular", "Source Sans Pro";
  font-weight: 600;
  font-style: normal;
  color: #4d4f5c;
  top: 3px;

  &:hover {
    background: #efefef;
  }
}

.button-dropdown1 {
  margin-right: 0px;
  font-size: 12px;
  word-break: break-word;
  border-width: 0px;
  width: 100%;
  height: 40px;
  background: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  font-family: "SourceSansPro-Regular", "Source Sans Pro";
  font-weight: 600;
  font-style: normal;
  color: #4d4f5c;
  top: 3px;

  &:hover {
    background: #efefef;
  }
}

.edu-div {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #00c299;
}

.eduInput {
  height: 31px;
  background: #efefef;
  border-radius: 15px;
  border: none;
  font-family: "Source Sans Pro";
  font-size: 15px;
  outline: none;
}

.btn-edu {
  width: 173px;
  height: 47px;
  background: #4d4f5c;
  border-radius: 74px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

#imageDrop,
#portfolioDrop {
  border: 1px dashed black;
  height: 286px;
  background: rgba(215, 215, 215, 0.3);
}

#imageDrop.hover,
#portfolioDrop.hover {
  border: 10px dashed #0c0;
}

#imageDrop img, #portfolioDrop img {
  display: block;
  margin: 10px auto;
  width: 225px;
  height: 226px;
  object-fit: cover;
}
#imageDrop p,
#portfolioDrop p {
  display: block;
}

#imageInput,
#portfolioInput {
  display: none;
}

.imageTitle {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #4d4f5c;
}

.imageTitle-resume {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #4d4f5c;
}

.basic-info {
  @include breakpoint(tablet) {
    padding-left: 6.5rem;
  }
}

.imageForm {
  padding-left: 5rem;
  padding-right: 5rem;
}

.clearBtm {
  height: 205px;
}

.searchskill-div {
  background: #e8ebec;
  height: 30px;
  border: 0px;
}

.searchskill-div:focus {
  box-shadow: 0 0 0 0rem rgba(80, 172, 181, 0.25);
}

.input-search {
  background: #e8ebec;
  border-radius: 25px;
  height: 30px;
}

.search-div {
  padding-left: 12rem;
  padding-right: 12rem;
}

.div-up {
  margin-top: 11rem;
}

.card-skill {
  width: 160px;
  height: 123px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0px;
  border-radius: 0px;
}

.card-body {
  padding-top: 1.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
}

.starrating > input {
  display: none;
} /* Remove radio buttons */

.starrating > label:before {
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 3em;
  display: inline-block;
  font-family: "Font Awesome 5 Pro";
}

.starrating > label {
  color: #1e8dd1; /* Start color when not clicked */
}

.starrating > input:checked ~ label {
  color: #1e8dd1;
  font-weight: 600;
} /* Set color when star checked */

.starrating > input:hover ~ label {
  color: #1e8dd1;
  font-weight: 600;
} /* Set color when star hover */

.btn-skill {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  height: 27px;
  border-radius: 15px;
  text-align: center;
  color: #ffffff;
  background: #1e8dd1;
}

.card-skill-selected {
  width: 270px;
  height: 300px;
  background: #ffffff;
  box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.26);
}

// .skills {

.language_dropdown {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  height: 375px;
  flex-wrap: wrap;
}

.language_dropdown__dropdown {
  flex: 0 1 33%;
  margin-right: 0;
  font-size: 12px;
  word-break: break-word;
  height: 40px;
  background: inherit;
  background-color: transparent;
  border: 0 none;
  border-radius: 0;
  font-family: $secondaryFont;
  font-weight: 600;
  font-style: normal;
  color: #4d4f5c;

  &:hover {
    background: #efefef;
  }
}

.eduInput--headline {
  height: 44px;
}

.eduInput--textarea {
  height: 175px;
}

::ng-deep .my-custom-class .tooltip-inner {
  background-color: $white;
  color: $black;
  font-size: 0.93rem;
  text-align: left;
  min-width: 486px !important;
  height: 72px;
  padding: 1rem;
}

::ng-deep .my-custom-class .arrow::before {
  border: none;
  border-top-color: #efefef !important;
  background: white !important;
}

.assessment{
  font-family: $primaryFont;
  background: $grey;
  width: 285px;
  height: 222px;
  display: flex;
  margin: 30px;
}
.assessment:hover{
  cursor: pointer;
}

.assessment--active{
  background: $btnGreen;
}

.assessment__icon {
  font-size: 2.5rem ;
  color: $white;
  margin-bottom: 1rem;
}

.assessment__name {
  font-size: 1.5rem ;
  color: $white;
}

.first-heading {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #4d4f5c;
}

.second-heading {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 69px;
  text-align: center;
  color: #4d4f5c;
}

.desc {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
  color: #4d4f5c;
}

