<app-custom-stepper>
  <cdk-step [stepControl]="firstInputFormGroup">
    <!-- <form [formGroup]="firstInputFormGroup"> -->
    <div class="container-fluid basic-info">
      <div class="row" style="margin-top: 4rem;margin-bottom: 1rem;">
        <div class="col-12 col-md-12">
          <div class="title loginText">Basic Info</div>
          <div class="cardContent login mt-5">
            <form class="loginWraper" [formGroup]="firstInputFormGroup">
              <div class="row">
                <div class="col">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control lgInput" name="firstName">
                </div>
                <div class="col">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control lgInput" name="lastName">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="password">Email</label>
                  <input type="email" class="form-control lgInput" name="email">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="city">City</label>
                  <input type="text" class="form-control lgInput" name="city">
                </div>
                <div class="col">
                  <label for="state">State</label>
                  <input type="text" class="form-control lgInput" name="state">
                </div>
                <div class="col">
                  <label for="zipCode">Zip Code</label>
                  <input type="text" class="form-control lgInput" name="zipCode">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="password">Create Password</label>
                  <input type="password" class="form-control lgInput" name="password">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="password">Create Password</label>
                  <input type="password" class="form-control lgInput" name="password">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </cdk-step>
  <cdk-step [stepControl]="secondInputFormGroup">
    <form [formGroup]="secondInputFormGroup">
      <div class="col text-right" style="padding-right: 5rem;">
        <button class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="container-fluid padContainer">
        <div class="row mb-3 mt-3">
          <div class="col-12 col-md-12 ">
            <div class="col text-center mt-5">
              <span class="select-div">Select a Service</span>
            </div>
            <div class="row mt-5">
              <div class="col-md-6 dropdown d-flex" style="justify-content: flex-end;">
                <p class="textdrop">Your Industry</p>
                <div ngbDropdown placement="bottom-right" class="d-inline-block ddown col-md-6" style="width: auto">
                  <button type="button" class=" margin-between statusDropdown btn btndrop col-md-12 dropdown-toggle"
                    id="dropdownConfig" ngbDropdownToggle>Accounting
                    <i class="fa fa-chevron-down pull-right"></i></button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dcontent dropdown-priority"
                    style="z-index: 9999;width: 100%; position: fixed;">
                    <div class="card card-div shadow" style="margin-top: -9px;margin-bottom: -9px;">
                      <button type="button" class="button-dropdown margin-between">Accounting</button>
                      <button type="button" class="button-dropdown margin-between">Admin Support</button>
                      <button type="button" class="button-dropdown margin-between">Customer Support</button>
                      <button type="button" class="button-dropdown margin-between">Data Science</button>
                      <button type="button" class="button-dropdown margin-between">Design & Creative</button>
                    </div>
                  </div>
                </div>
                <button class="btn que-div" [autoClose]="'inside'" triggers="mouseenter:mouseleave" placement="right"
                  [ngbPopover]="popContent" #p1="ngbPopover" style="cursor: pointer;">
                  <i class="fas fa-question"></i>
                </button>
                <ng-template #popContent>
                  <div class="row m-2">
                    <span>If your insdustry isn't listed, chose "other" and type it in manually.</span>
                  </div>
                </ng-template>
              </div>
              <div class="col-md-6 dropdown d-flex">
                <p class="textdrop">Years in the Industry</p>
                <div ngbDropdown placement="bottom-right" class="d-inline-block ddown col-md-4" style="width: auto">
                  <button type="button" class=" margin-between statusDropdown btn btndrop col-md-12 dropdown-toggle"
                    id="dropdownConfig" ngbDropdownToggle>
                    <i class="fa fa-chevron-down pull-right"></i></button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dcontent dropdown-priority1"
                    style="z-index: 9999;width: 100%; position: fixed;">
                    <div class="card card-div shadow" style="margin-top: -9px;margin-bottom: -9px;">
                      <button type="button" class="button-dropdown1 margin-between">0-3</button>
                      <button type="button" class="button-dropdown1 margin-between">3-5</button>
                      <button type="button" class="button-dropdown1 margin-between">5-10</button>
                      <button type="button" class="button-dropdown1 margin-between">10-15</button>
                      <button type="button" class="button-dropdown1 margin-between">15-20</button>
                      <button type="button" class="button-dropdown1 margin-between">20+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col text-center mt-5">
              <span class="choose-div">Choose which services you are interested in selling:</span>
            </div>
            <div class="row pt-5 pb-3 no-gutters" style="padding-left: 7rem; padding-right: 11rem;">
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular">
                  </span>
                  <label for="option_1" class="option-div">Option 1</label>
                </label>
              </div>
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_5" class="option-div">Option 5</label>
                </label>
              </div>
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_9" class="option-div">Option 9</label>
                </label>
              </div>
            </div>
            <div class="row pt-3 pb-3 no-gutters" style="padding-left: 7rem; padding-right: 11rem;">
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_2" class="option-div">Option 2</label>
                </label>
              </div>
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_6" class="option-div">Option 6</label>
                </label>
              </div>
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_10" class="option-div">Option 10</label>
                </label>
              </div>
            </div>
            <div class="row pt-3 pb-3 no-gutters" style="padding-left: 7rem; padding-right: 11rem;">
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_3" class="option-div">Option 3</label>
                </label>
              </div>
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_7" class="option-div">Option 7</label>
                </label>
              </div>
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_11" class="option-div">Option 11</label>
                </label>
              </div>
            </div>
            <div class="row pt-3 pb-3 no-gutters" style="padding-left: 7rem; padding-right: 11rem;">
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_4" class="option-div">Option 4</label>
                </label>
              </div>
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_8" class="option-div">Option 8</label>
                </label>
              </div>
              <div class="checkbox-container col-md-4 text-center">
                <label class="checkbox-label">
                  <input type="checkbox" />
                  <span class="checkbox-custom rectangular"></span>
                  <label for="option_12" class="option-div">Option 12</label>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cdk-step>
  <cdk-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <div class="col text-right" style="padding-right: 5rem;">
        <button class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="container-fluid padContainer">
        <div class="row mb-3 mt-3">
          <div class="col-12 col-md-12 ">
            <div class="col text-center mt-5">
              <span class="select-div">Profile Details</span>
            </div>
            <div class="col text-center mt-3">
              <span class="edu-div">Education</span>
            </div>
            <div class="row mt-5">
              <div class="col">
                <input type="text" class="form-control eduInput" placeholder="School Name">
              </div>
              <div class="col">
                <input type="text" class="form-control eduInput" placeholder="Major/Area of Study">
              </div>
              <div ngbDropdown placement="bottom-right" class="d-inline-block ddown col-md-3" style="width: auto">
                <button type="button" class=" margin-between statusDropdown btn btndrop col-md-12 dropdown-toggle"
                  id="dropdownConfig" ngbDropdownToggle>PhD
                  <i class="fa fa-chevron-down pull-right"></i></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dcontent dropdown-priority"
                  style="z-index: 9999;width: 100%; position: fixed;">
                  <div class="card card-div shadow" style="margin-top: -9px;margin-bottom: -9px;">
                    <button type="button" class="button-dropdown margin-between">PhD</button>
                    <button type="button" class="button-dropdown margin-between">Master's</button>
                    <button type="button" class="button-dropdown margin-between">Bachelor's</button>
                    <button type="button" class="button-dropdown margin-between">Associate's</button>
                    <button type="button" class="button-dropdown margin-between">Trade School</button>
                    <button type="button" class="button-dropdown margin-between">Bootcamp</button>
                    <button type="button" class="button-dropdown margin-between">High School</button>
                    <button type="button" class="button-dropdown margin-between">Other</button>
                  </div>
                </div>
              </div>
              <div class="col d-flex">
                <p class="textdrop">Years:</p>
                <div ngbDropdown placement="bottom-right" class="d-inline-block ddown col-md-9" style="width: auto">
                  <button type="button" class=" margin-between statusDropdown btn btndrop col-md-12 dropdown-toggle"
                    id="dropdownConfig" ngbDropdownToggle>
                    <i class="fa fa-chevron-down pull-right"></i></button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dcontent dropdown-priority1"
                    style="z-index: 9999;width: 100%; position: fixed;">
                    <div class="card card-div shadow" style="margin-top: -9px;margin-bottom: -9px;">
                      <button type="button" class="button-dropdown1 margin-between"
                        *ngFor="let year of years">{{year}}</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col d-flex">
                <p class="textdrop">to:</p>
                <div ngbDropdown placement="bottom-right" class="d-inline-block ddown col-md-11" style="width: auto">
                  <button type="button" class=" margin-between statusDropdown btn btndrop col-md-12 dropdown-toggle"
                    id="dropdownConfig" ngbDropdownToggle>
                    <i class="fa fa-chevron-down pull-right"></i></button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dcontent dropdown-priority1"
                    style="z-index: 9999;width: 100%; position: fixed;">
                    <div class="card card-div shadow" style="margin-top: -9px;margin-bottom: -9px;">
                      <button type="button" class="button-dropdown1 margin-between"
                        *ngFor="let year of years">{{year}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkbox-container mt-3 col-md-12 pr-0 text-right" style="margin-left: 2rem;">
              <label class="checkbox-label" style="display: inline;">
                <input type="checkbox" />
                <span class="checkbox-custom rectangular"></span>
                <label for="option_12" class="option-div" style="width:185px;">Currently Enrolled</label>
              </label>
            </div>
            <div class="col-md-12 text-right mt-5 pr-0 ml-3">
              <button class="btn btn-edu">Add Education</button>
            </div>
            <div class="clearBottom"></div>
          </div>
        </div>
      </div>
    </form>
  </cdk-step>

  <cdk-step [stepControl]="fourthFormGroup">
    <form [formGroup]="fourthFormGroup">
      <div class="col text-right" style="padding-right: 5rem;">
        <button class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="container-fluid padContainer">
        <div class="row mb-3 mt-3">
          <div class="col-12 col-md-12 ">
            <div class="col text-center mt-5">
              <span class="select-div">Profile Details</span>
            </div>
            <div class="col text-center mt-3">
              <span class="edu-div">Resume</span>
            </div>
            <div class="text-left pt-2 mt-3 row">
              <form [formGroup]="imageUpload" class="col-md-12 imageForm">
                <div id="imageDrop" (click)='imageInput.click()' (drop)="drop($event)" (dragover)="allowDrop($event)"
                  #imageDrop>
                  <p class="imageTitle-resume" *ngIf="fileName; else title">{{fileName}} </p>
                  <ng-template #title>
                    <p class="imageTitle-resume">Drag and Drop File Here</p>
                  </ng-template>
                  <input type="file" formControlName="imageInput" required #imageInput id="imageInput"
                    (change)='imageChange($event)'>
                </div>
              </form>
            </div>
            <div class="col-md-12 text-center mt-5">
              <button class="btn btn-edu" (click)='imageInput.click()'>Browse</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cdk-step>

  <cdk-step [stepControl]="fifthFormGroup">
    <form [formGroup]="fifthFormGroup">
      <div class="col text-right" style="padding-right: 5rem;">
        <button class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="container-fluid padContainer">
        <div class="row mb-3 mt-3">
          <div class="col-12 col-md-12 ">
            <div class="col text-center mt-5">
              <span class="select-div">Profile Details</span>
            </div>
            <div class="col text-center mt-3">
              <span class="edu-div">Certifications</span>
            </div>
            <div class="row mt-5">
              <div class="col-md-3">
                <input type="text" class="form-control eduInput" placeholder="Certification Name">
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control eduInput" placeholder="License Number (if applicable)">
              </div>
              <div class="col-md-5 d-flex">
                <div class=" col-md-5 text-center">
                  <p class="textdrop-year">Year Received:</p>
                </div>
                <div ngbDropdown placement="bottom-right" class="d-inline-block ddown col-md-4" style="width: auto">
                  <button type="button" class=" margin-between statusDropdown btn btndrop col-md-12 dropdown-toggle"
                    id="dropdownConfig" ngbDropdownToggle>
                    <i class="fa fa-chevron-down pull-right"></i></button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dcontent dropdown-priority1"
                    style="z-index: 9999;width: 100%; position: fixed;">
                    <div class="card card-div shadow" style="margin-top: -9px;margin-bottom: -9px;">
                      <button type="button" class="button-dropdown1 margin-between"
                        *ngFor="let year of years">{{year}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right mt-5" style="padding-right: 8rem;">
              <button class="btn btn-edu">Add Certification</button>
            </div>
            <div class="clearBtm"></div>
          </div>
        </div>
      </div>
    </form>
  </cdk-step>

  <cdk-step [stepControl]="sixthFormGroup">
    <form [formGroup]="sixthFormGroup">
      <div class="col text-right" style="padding-right: 5rem;">
        <button class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="d-flex">
        <div class="container-fluid padContainer">
          <div class="row mb-3">
            <div class="col-12 col-md-12 ">
              <div class="col text-center mt-3">
                <span class="select-div">Profile Details</span>
              </div>
              <div class="col text-center mt-3">
                <span class="edu-div">Skills</span>
              </div>
              <div class="col text-center mt-3 search-div">
                <div class="input-group col-md-12 input-search">
                  <input type="text" class="form-control no-border searchskill-div" placeholder="Search">
                  <i class="far fa-search form-inline mt-2"></i>
                </div>
              </div>
              <div class="row mt-3 pl-5 pr-5">
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[0].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[1].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[2].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[3].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3 pl-5 pr-5">
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[0].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[1].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[2].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[3].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-3 pl-5 pr-5">
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[0].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[1].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[2].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill" (click)="openSkillModal(skillModal)">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card card-skill">
                    <div class="card-body">
                      <div class="col text-center">
                        <p>{{skillList[3].name}}</p>
                        <div class="container">
                          <button class="btn btn-skill">Add Skill</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="div-up"></div>
          <div class="col-md-10">
            <div class="card card-skill-selected">
              <div class="card-body">
                <div class="col text-center">
                  <p class="skills">My Selected Skills</p>
                  <div class="container">
                    <span>3 of 10 Used</span>
                    <hr>
                    <div>
                      <span>Leadership</span>
                      <i class="fas fa-times-circle align-items-center pull-right mt-2" style="color: #FF6461; cursor: pointer;"
                        aria-label="Close"></i>
                    </div>
                    <hr>
                    <div>
                      <span>Leadership</span>
                      <i class="fas fa-times-circle align-items-center pull-right mt-2" style="color: #FF6461; cursor: pointer;"
                        aria-label="Close"></i>
                    </div>
                    <hr>
                    <div>
                      <span>Leadership</span>
                      <i class="fas fa-times-circle align-items-center pull-right mt-2" style="color: #FF6461; cursor: pointer;"
                        aria-label="Close"></i>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <ng-template #skillModal let-modal>
      <div class="plan-detail-modal mb-4">
        <div class="col-md-2 text-center pt-2">
          <i class="fas fa-times-circle align-items-center" style="color: #FF6461; cursor: pointer;" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></i>
        </div>
        <div class="col-md-12 text-center mt-3">
          <span class="first-heading">How would you rate your level of expertise in this skill</span>
        </div>
        <div class="col text-center mt-3">
          <span class="second-heading">CFO</span>
        </div>
        <div>
          <div class="container">
            <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
            </div>
          </div>
        </div>
        <div class="col text-center mt-3">
          <span class="first-heading">Basic:</span><span class="first-heading">
            Beginner Knowledge of this skill
          </span>
        </div>
        <div class="col text-center pl-5 pr-5" style="margin-top:2rem;">
          <span class="desc">This rating system will be internal only to help us match you width
            the best possible jobs for your skills. Only the skill will show up on your
            public profile.</span>
        </div>

      </div>
    </ng-template>
  </cdk-step>
  <cdk-step [stepControl]="eighthFormGroup">
    <form [formGroup]="eighthFormGroup">
      <div class="col text-right" style="padding-right: 5rem;">
        <button class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="container-fluid padContainer">
        <div class="row mb-3 mt-3">
          <div class="col-12 col-md-12 ">
            <div class="col text-center mt-5">
              <span class="select-div">Profile Details</span>
            </div>
            <div class="col text-center mt-3">
              <span class="edu-div">Languages</span>
            </div>
            <div class="row mt-5">
              <div class="col-md-8 d-flex">
                <div class=" col-md-4 text-center">
                  <p class="textdrop-year">Language:</p>
                </div>
                <div ngbDropdown placement="bottom-right" class="  col-md-8" style="width: auto">
                  <button type="button" class="btn btndrop col-md-12 dropdown-toggle" id="languageDropDown"
                    ngbDropdownToggle>
                    <i class="fa fa-chevron-down pull-right"></i></button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class=""
                    style="z-index: 9999;width: 100%; position: fixed;">
                    <div class="card shadow language_dropdown" style="margin-top: -9px;margin-bottom: -9px;">
                      <button type="button" class="language_dropdown__dropdown "
                        *ngFor="let language of this.languages">{{language}}</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 d-flex">
                <div class=" col-md-4 text-center">
                  <p class="textdrop-year">Fluency:</p>
                </div>
                <div ngbDropdown placement="bottom-right" class="d-inline-block ddown col-md-10" style="width: auto">
                  <button type="button" class=" margin-between statusDropdown btn btndrop col-md-12 dropdown-toggle"
                    id="fluencyDropdown" ngbDropdownToggle>
                    <i class="fa fa-chevron-down pull-right"></i></button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dcontent dropdown-priority1"
                    style="z-index: 9999;width: 100%; position: fixed;">
                    <div class="card card-div shadow " style="margin-top: -9px;margin-bottom: -9px; ">
                      <button type="button" class="button-dropdown1 text-left pl-4">Native/Bilingual</button>
                      <button type="button" class="button-dropdown1 text-left pl-4">Basic</button>
                      <button type="button" class="button-dropdown1 text-left pl-4">Read/Write</button>
                      <button type="button" class="button-dropdown1 text-left pl-4">Conversational</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-right mt-5 pr-2 ml-5">
                <button class="btn btn-edu">Add Language</button>
              </div>
              <div class="clearBtm"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cdk-step>
  <cdk-step [stepControl]="ninthFormGroup">
    <form [formGroup]="ninthFormGroup">
      <div class="col text-right" style="padding-right: 5rem;">
        <button class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="container-fluid padContainer">
        <div class="row mb-3 mt-3">
          <div class="col-12 col-md-12 ">
            <div class="col text-center mt-5">
              <span class="select-div">Profile Details</span>
            </div>
            <div class="col text-center mt-3">
              <span class="edu-div">Headline and Professional Bio</span>
            </div>
            <div class="row mt-5" style="padding-right: 6rem; padding-left: 6rem;">
              <div class="form-group w-100">
                <label class="textdrop-year">Headline
                  <button class="btn que-div" [autoClose]="'inside'" triggers="mouseenter:mouseleave" placement="right"
                          [ngbPopover]="headlinePopContent" #p1="ngbPopover" style="cursor: pointer;">
                    <i class="fas fa-question"></i>
                  </button>
                  <ng-template #headlinePopContent style=";width: 1200px !important;">
                    <div class="row m-2">
                      <span>
                        A headline is a keyword or term assigned to a piece of information.<br/>
                        This will help describe you and your skills by browsing or searching
                      </span>
                    </div>
                  </ng-template>
                </label>
                <input formControlName="headline" #headline type="text"
                       class="form-control eduInput eduInput--headline" aria-describedby="headline"/>
                <small class="form-text text-muted float-right">
                  {{headline.value.length < 51 ? 50 - headline.value.length : 0}} characters remaining
                </small>
              </div>

              <div class="form-group w-100">
                <label class="textdrop-year">Professional Bio
                  <button class="btn que-div" [autoClose]="'inside'" triggers="mouseenter:mouseleave" placement="right"
                          [ngbPopover]="bioPopContent" #p1="ngbPopover" style="cursor: pointer;">
                    <i class="fas fa-question"></i>
                  </button>
                  <ng-template #bioPopContent style="max-width: 800px;width: 800px;">
                    <div class="row m-2" style="max-width: 800px;width: 800px;">
                      <span style="max-width: 800px;width: 800px;">
                        A professional bio is a brief summary of your skills, experiences,<br/>
                        and goals as they relate to a specific job opening.</span>
                    </div>
                  </ng-template>
                </label>
                <textarea #professional_bio formControlName="professional_bio"
                          class="form-control eduInput eduInput--textarea" aria-describedby="headline"></textarea>
                <small class="form-text text-muted float-right">
                  {{professional_bio.value.length < 501 ? 500 - professional_bio.value.length : 0}} characters remaining
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cdk-step>

  <cdk-step [stepControl]="tenthFormGroup">
    <form [formGroup]="tenthFormGroup">
      <div class="col text-right" style="padding-right: 5rem;">
        <button class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="container-fluid padContainer">
        <div class="row mb-3 mt-3">
          <div class="col-12 col-md-12 ">
            <div class="col text-center mt-5">
              <span class="select-div">Profile Details</span>
            </div>
            <div class="col text-center mt-3">
              <span class="edu-div">Portfolio</span>
            </div>
            <div class="text-left pt-2 mt-3 row">
              <form [formGroup]="imageUpload" class="col-md-12 imageForm">
                <div id="portfolioDrop" (click)='portfolioInput.click()' (drop)="drop($event)"
                     (dragover)="allowDrop($event)"
                     #imageDrop>
                  <p class="imageTitle" *ngIf="fileName; else title">{{fileName}} </p>
                  <ng-template #title>
                    <p class="imageTitle">Drag and Drop File Here</p>
                  </ng-template>
                  <input [hidden]="true" type="file" formControlName="imageInput" required #portfolioInput
                         id="portfolioInput"
                         (change)='imageChange($event)'>
                </div>
                <div class="col-md-12 text-center mt-5">
                  <button class="btn btn-edu" (click)='imageInput.click()'>Browse</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cdk-step>

  <cdk-step [stepControl]="eleventhFormGroup">
    <form [formGroup]="eleventhFormGroup">
      <div class="col text-right" style="padding-right: 5rem;">
        <button class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="container-fluid padContainer">
        <div class="row mb-3 mt-3">
          <div class="col-12 col-md-12 ">
            <div class="col text-center mt-5">
              <span class="select-div">Profile Details</span>
            </div>
            <div class="col text-center mt-3">
              <span class="edu-div">Profile Picture</span>
            </div>
            <div class="text-left pt-2 mt-5 row">
              <form [formGroup]="imageUpload" class="col-md-12 imageForm">
                <div id="profilePicture" class="d-flex justify-content-center align-items-center">
                  <img src="assets/icons/profile_icon.svg">
                  <input [hidden]="true" type="file" formControlName="imageInput" required #portfolioInput
                    id="portfolioInput" (change)='imageChange($event)'>
                </div>
                <div class="col-md-12 text-center pt-3 mt-5">
                  <button class="btn btn-edu" (click)='imageInput.click()'>Browse</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </form>
  </cdk-step>

  <cdk-step [stepControl]="twelfthFormGroup">
    <form [formGroup]="twelfthFormGroup">
      <div class="col text-right pr-5">
        <button (click)="changeComponent()" class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="container-fluid padContainer">
        <div class="row mb-3 mt-3">
          <div class="col-12 col-md-12 ">
            <div class="col text-center mt-5">
              <span class="select-div">Service Questions</span>
            </div>
            <div class="col text-center mt-3">
              <span class="edu-div">Question 1 of 41</span>
            </div>
            <app-boolean *ngIf="type ===1"></app-boolean>
            <app-multiple-choice *ngIf="type ===2" [question]="question"></app-multiple-choice>
            <app-multiple-select *ngIf="type ===3"></app-multiple-select>
            <app-text-entry *ngIf="type ===4"></app-text-entry>
          </div>
        </div>
      </div>
    </form>
  </cdk-step>

  <cdk-step [stepControl]="thirteenthFormGroup">
    <form [formGroup]="thirteenthFormGroup">
      <div class="col text-right pr-5">
        <button class="btn btn-application text-white">Save Application for Later</button>
      </div>
      <div class="container-fluid padContainer">
        <div class="row mb-3 mt-3">
          <div class="col-12 col-md-12 ">
            <div class="col text-center mt-5">
              <span class="select-div">Service Questions</span>
            </div>
            <div class="col text-center mt-3">
              <span class="edu-div">The service you are applying to requires additional compentency test</span>
            </div>
            <div class="d-flex flex-wrap">
              <ng-container *ngFor="let item of assessmentDetail">
              <div routerLink="/assessment" [ngClass]="item.is_attempted?'assessment assessment--active':'assessment'"
                   class="flex-column justify-content-center align-items-center">
                <i *ngIf="item.is_attempted" class="fa fa-check assessment__icon"></i>
                <span class="assessment__name">{{item.name}}</span>
              </div>
              </ng-container>

            </div>
          </div>
        </div>
      </div>
    </form>
  </cdk-step>


</app-custom-stepper>
