<div class="container-fluid pazdContainer">
  <div class="row cleartop">
    <div class="col-12 col-md-12  col-lg-6">
      <div class="homeImages">
        <div class="img">
          <img class="first-img" src="assets/home/sitting-2.png" alt="">
        </div>
        <div class="img">
          <img class="second-img" src="assets/home/sitting-1.png" alt="">
        </div>
        <div class="col text-center welcome-text">
          <span>Welcome to Qkly</span>
        </div>
        <div class="col text-center trans-div mt-3">
          <span>Transparency is just a few clicks away</span>
        </div>
        <div class="col text-center mt-5">
          <button class="btn-start btn" [routerLink]="['/basic-info']" routerLinkActive="router-link-active" >Get Started</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
      <div class="cardContent signUp mt-5">
        <i class="fas fa-play icon-play"></i>
      </div>
    </div>
  </div>

</div>