@import "variables";
@import "breakpoints";

.cleartop {
  margin-top: 40px;
  @include breakpoint(tablet) {
    margin-top: 40px;
  }
  @include breakpoint(desktop_regular) {
    margin-top: 140px;
  }
}
.findText {
  width: 100%;
  margin-bottom: 35px;
  text-align: center;
  @include breakpoint(tablet) {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 75px;
  }

  @include breakpoint(desktop) {
    width: 100%;
    padding-right: 120px;
    text-align: left;
  }
}

.loginText {
  text-align: center;
  margin-bottom: 30px;
}

#search {
  width: 100%;
  height: 45px;
  background-color: #efefef;
  border-radius: 20px;
  margin-bottom: 60px;
  @include breakpoint(tablet) {
    width: 100%;
    height: 45px;
    margin-bottom: 120px;
  }
  @include breakpoint(tablet-horizontal) {
    width: 80%;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    padding: 12px 0;
    float: left;
    @include breakpoint(tablet) {
      width: 15%;
    }
    img {
      float: left;
      margin: 0 5px;
      @include breakpoint(tablet) {
        margin: 0 10px;
      }
    }
    .arrow {
      cursor: pointer;
    }
  }

  .searchInput {
    width: 50%;
    height: 45px;
    border: none;
    background: none;
    float: left;
    outline: none;
    color: #b0b0b0;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    &::placeholder {
      color: #b0b0b0;
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
    }
    &:focus {
      border: none;
    }
  }

  .buttonInput {
    float: right;
    width: 75px;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    background: $btnPurple;
    border-radius: 25px;
    height: 45px;
    color: $white;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    @include breakpoint(tablet) {
      width: 148px;
    }
  }
}

.homeImages {
  height: 150px;
  margin-bottom: 70px;
  @include breakpoint(tablet) {
    height: 570px !important;
  }
  @include breakpoint(mobile-horizontal) {
    height: 500px;
  }
  .img {
    width: 50%;
    float: left;
    img {
      width: 100%;
    }
  }
}

@media(max-width: 992px) {
  .homeImages {
    height: 605px !important;
  }
}

.signUp {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 100px;
 
  .signupWrapper {
    padding: 10px 20px;
    @include breakpoint(tablet) {
      padding: 50px 70px;
    }
    .row {
      margin-bottom: 10px;
    }
    label {
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 9px;
      color: $primaryText;
      margin-left: 10px;
    }
    .buttonInput {
      width: 156.95px;
      height: 46.96px;
      font-family: $secondaryFont;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      text-align: center;
      color: $white;
      background: $btnGreen;
      border-radius: 74px;
      margin: 0 auto;
      margin-top: 30px;
    }
    input {
      height: 30.9px;
      background: #efefef;
      border-radius: 15px;
      border: none;
      font-family: $secondaryFont;
      font-size: 15px;
      outline: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: $secondaryFont;
        font-size: 15px;
        color: $primaryText;
      }
    }
  }
}

.first-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.second-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.cardContent {
  width: 641px;
  position: relative;
  height: 397px;
  background: #efefef;
}

@media (max-width: 1360px) {
  .cardContent {
    width: 540px !important;
    margin-bottom: 0;
  }
}

@media (max-width: 1170px) {
  .cardContent {
    width: 440px !important;
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {
  .cardContent {
    width: 641px !important;
    margin-bottom: 10px;
  }
}

.welcome-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: #4d4f5c;
}

.trans-div {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #4d4f5c;
}

.btn-start {
  background: #22b996;
  border-radius: 74px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  width: 156.95px;
  height: 46.96px;
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #c4c4c4;
  font-size: 35px;
  cursor: pointer;
}
