<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1"  id="sign-up">
            <div class="title signTitle">What would you like to do?</div>
            <div class="cardContent stepOne">
                <div class="btn post">Post a Job</div>
                <div class="btn provide" (click)="navigateToStart()">Provide a Service</div>
                <div class="btn both">Both</div>
                <div class="member">Already a member? <a routerLink="/login" >Log In</a></div>
            </div>
        </div>
    </div>

    <div class="clearBottom"></div>
</div>
