@import "breakpoints";
@import "variables";

#sign-up{
    .signTitle{
        text-align: center;
        margin-bottom: 38px;
        margin-top: 50px;
        @include breakpoint(tablet){   
            margin-top: 50px;
        }
    }

    .stepOne{
        width: 100%;
        max-width: 541px;
        height: 376px;
        max-height: 376px;
        padding-top: 49px;
        margin: 0 auto;
    }

    .btn{
        width: 75%;
        height: 47px;
        margin: 0 auto;
        text-align: center;
        display:inherit;
        border-radius: 74px;
        margin-bottom: 49px  ;

        font-family: $primaryFont;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 33px;
        color: $white;
        @include breakpoint(tablet){
            width: 328px;
            height: 47px;
            margin-bottom: 49px;
        }
    }

    .post{
        background-color:$btnBlue;
    }
    .provide{
        background-color:$btnPurple;
    }
    .both{
        background-color:$btnAqua;
        margin-bottom: 30px;
    }
    .member{
        width: 100%;
        text-align: center;
        font-family: $secondaryFont;
        font-size: 15px;
        a{
            color:$btnGreen;
            cursor:pointer;
        }  
    }

    
}