<div>
  <div>
    <div class="container-fluid padContainer">
      <div class="row mb-3 mt-3">
        <div class="col-12 col-md-12 ">
          <div class="col text-center mt-5">
            <span class="select-div">Congratulations!</span>
          </div>
          <div class="col text-center mt-3">
            <span class="edu-div">You are now an unvetted seller on Qkly Marketplace. Welcome to the family!</span>
          </div>
          <div class="result d-flex flex-column align-items-center">
            <div class="question_attempted">Choose your Account</div>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="card">
              <div class="card-header">Premium Professional</div>
              <div class="card-body d-flex flex-column align-items-center justify-content-start  ">
                <div class="plan-price d-flex justify-content-center" >
                  <div>
                    <span class="plan-price__amount">$250</span>
                    <span class="plan-price__duration">/mo*</span>
                  </div>
                </div>
                <div class="d-flex flex-column benefit">
                  <div><i class="fa fa-check benefit__icon"></i><span class="benefit__item"> Vetted Professional</span></div>
                  <div><i class="fa fa-check benefit__icon"></i><span class="benefit__item">Optimization to get seen by buyers</span></div>
                  <div><i class="fa fa-check benefit__icon"></i><span class="benefit__item">Something else</span></div>
                  <div><i class="fa fa-check benefit__icon"></i><span class="benefit__item">6x chances of getting hired</span></div>
                </div>
                <div><button class="btn-trial">Free 14 Day Trial</button></div>
                <span class="terms">*Terms and conditions may apply</span>
              </div>
            </div>
            <div class="card">
              <div class="card-header">Premium Professional</div>
              <div class="card-body d-flex flex-column align-items-center justify-content-start  ">
                <div class="plan-price d-flex justify-content-center" >
                  <div>
                    <span class="plan-price__amount">$200</span>
                    <span class="plan-price__duration">/mo*</span>
                  </div>
                </div>
                <div class="d-flex flex-column benefit">
                  <div><i class="fa fa-check benefit__icon"></i><span class="benefit__item"> Vetted Professional</span></div>
                  <div><i class="fa fa-check benefit__icon"></i><span class="benefit__item">Certified or Verified Professional</span></div>
                  <div><i class="fa fa-check benefit__icon"></i><span class="benefit__item">4x chances of getting hired</span></div>
                </div>
                <div><button class="btn-trial">Free 14 Day Trial</button></div>
                <span class="terms">*Terms and conditions may apply</span>
              </div>
            </div>
            <div class="card">
              <div class="card-header">Premium Professional</div>
              <div class="card-body d-flex flex-column align-items-center justify-content-start  ">
                <div class="plan-price d-flex justify-content-center" >
                  <div>
                    <span class="plan-price__amount">$250</span>
                    <span class="plan-price__duration">/mo*</span>
                  </div>
                </div>
                <div class="d-flex flex-column benefit">
                  <div><i class="fa fa-check benefit__icon"></i><span class="benefit__item"> Vetted Professional</span></div>
                  <div><i class="fa fa-check benefit__icon"></i><span class="benefit__item">2x chances of getting hired</span></div>
                </div>
                <div><button class="btn-trial">Free 14 Day Trial</button></div>
                <span class="terms">*Terms and conditions may apply</span>
              </div>
            </div>
            <div class="card">
              <div class="card-header">Premium Professional</div>
              <div class="card-body d-flex flex-column align-items-center justify-content-start  ">
                <div class="plan-price d-flex justify-content-center" >
                  <div>
                    <span class="plan-price__amount">$250</span>
                    <span class="plan-price__duration">/mo*</span>
                  </div>
                </div>
                <div class="d-flex flex-column benefit">
                  <div><i class="fa fa-check benefit__icon"></i><span class="benefit__item">Free</span></div>
                </div>
                <div><button class="btn-trial">Free 14 Day Trial</button></div>
                <span class="terms">*Terms and conditions may apply</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

