@import "variables";
@import "breakpoints";

.select-div {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: $primaryText;
}

.edu-div {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: $btnGreen;
}

.result {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: $primaryText;
}

.question_attempted {
  margin: 3.6rem auto;
}

.card {
  width: 317px;
  height: 418px;
  background: $white;
  border-radius: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 31px;
  margin-right: 31px;
}

.card-header {
  background: $primaryText;
  color: $white;
  border-radius: 0;
  font-family: $secondaryFont;
  text-align: center;
  font-size: 1.125rem;

}

.plan-price {
  width: 247px;
  border-bottom: 2px solid $lightGrey;
  padding-bottom: 42px;
  padding-top: 12px;
}

.plan-price__amount {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: $primaryText;
}

.plan-price__duration {
  font-family:$primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: $primaryText

}

.benefit{
  margin-top: 27px;
  width: 247px;
  height: 96px;

}
.benefit__icon {
  color: $green;
  font-size: 1.25rem;
  margin-right: 10px;
}
.benefit__item {
  color: $primaryText;
  font-family: $secondaryFont;
  font-size: 0.813rem;
  line-height: 1rem;
}
.btn-trial {
  margin-top: 18px;
  background: $btnPurple;
  border-radius: 74px;
  color: $white;
  width: 247px;
  height: 47px;
  font-family: $secondaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 25px;
  text-align: center;
}
.terms {
  margin-top: 9px;
  font-family: $secondaryFont;
  font-size:0.625rem ;
  color: $primaryText;

}
