@import "variables";
@import "breakpoints";

.row {
    display: -webkit-box;
    display: flexbox;
    flex-wrap: wrap; 
    margin: -20px 0px 0px 10px;
    
}

.dropup, .dropright, .dropdown, .dropleft {
    display: flex
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btndrop {
    margin-right: 16px;    
    color: #4e4b4b;
    background-color: #EFEFEF;
    border-color: #EFEFEF;
    border-radius: 1rem;
    line-height: 17px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    height:  2rem;
    width: 150px;
    text-align: left;
}
.btndrop i{
    float: right;
  right: 10px;
}


h2, .h2 {
    font-size: 3rem;
    margin-bottom: 3.5rem;
    font-weight: normal;
    color: #4D4F5C;
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show > .btn-success.dropdown-toggle {
    color: #4e4b4b;
    background-color: #EFEFEF;
    border-color: #EFEFEF;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(171, 177, 172, 0.5);
}

.btn-success:focus, .btn-success.focus {

    box-shadow: 0 0 0 0.1rem rgba(171, 177, 172, 0.5);}


    .custom-control {
        
        
        min-height: 1.5rem;
        margin-right: 20px;
        margin-top: 40px;
    
    }

    .custom-switch .custom-control-label::before {
        left: -2.25rem;
        width: 30px;
        pointer-events: all;
        border-radius: 0.5rem;
    }
    .textcheck{
        font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;

/* identical to box height */

color: #4D4F5C;
    }
    

    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #009688;
        background-color: #009688;
        opacity: 0.5;
    }


    .custom-control-label::before {
        position: absolute;
        top: 0.35rem;
        left: -1.5rem;
        display: flex;
        width: 1rem;
        height: 0.85rem;
        pointer-events: none;
        content: "";
        background-color: #B0B0B0;
        border: #adb5bd solid 1px;
    }

    .custom-switch .custom-control-label::after {
        top: calc(0.2rem);
        left: calc(-2.25rem + 3px);
        width: calc(1.2rem - 1px);
        height: calc(1.2rem - 1px);
        background-color: #00C299;
        border-radius: 0.7rem;
    }

.dropup, .dropright, .dropdown, .dropleft {

    display: flow-root;
    margin-top: -10px;
}

.textdrop{
    font-family: "Source Sans Pro";
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 3px;
    margin-top: 30px;
    margin-left: 11px;
    color: #4D4F5C;

}

.textdrop2{
    font-family: "Source Sans Pro";
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 3px;
    margin-top: 50px;
    color: #4D4F5C;
    text-align: right;
    margin-right: 100px;
}

.btndrop2 {
    color: #4e4b4b;
    background-color: #EFEFEF;
    border-color: #EFEFEF;
    border-radius: 1rem;
    line-height: 17px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    float: right;
    

}

.container4{
    margin: 66px 0px 0px -161px;
    height: 37px;
}
.container2{
    margin-top: -20px;
}
.container3{
    margin: 0px -40px 0px 90px;
    
}
.card1{
    /*margin-top: 150px;*/
    margin-bottom: 70px;
    border: none;
    background: #fff;
    box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.26);
    
width: 250px;
height: 330px;

}

.imgcard{
    float: left;
    width: 113px;
    padding-top: 8px;
    padding-left: 9px;
}
.titlecard{

    float: left;
 margin: 0px 0px 0px;
    font-size: 20px;
    font-family: "Montserrat";
    color: #4D4F5C;
}
.tag{
    font-family: $secondaryFont;
    background-color: $tag;
    width: 71.68px;
    height: 25px;
    border-radius: 15px;
    float: left;
    margin-right: 20.48px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.viewprofile{
    font-family: $secondaryFont;
    background-color: #288ECE;
    width: 71.68px;
    height: 25px;
    border-radius: 15px;
    float: left;
    margin-right: 20.48px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.message{
    font-family: $secondaryFont;
    background-color: #AC32D9;
    width: 71.68px;
    height: 25px;
    border-radius: 15px;
    float: left;
    margin-right: 18.48px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    line-height: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.stars {
    color: #FFC70B;
    height: 20px;
    margin-left: 22px;
    margin-bottom: 10px;
    padding-right: 1.25rem;

}

.btn{
    /*margin-left: 5px;*/
    right: 10px;;
    top:10px;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border: 0;
    border-top: 2px solid #F1F1F3;;
}

.heart{

    color:#FF6565;
    margin-top: 10px;
    margin-left: 10px;

}

.styletext
{
    font-family: Montserrat;
    font-style: normal;
    color: #4D4F5C;
}
.styletext2
{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    color: #4D4F5C;
}
.cardcontenttext{
    font-size: 12px;
line-height: 15px;
}
.cardbtn{
    padding: 0px 0px 10px 20px;
    
}
.titlecard{
font-size: 15px;
margin-top: 5px;
margin-left: 15px;

}
.card-body{
    padding: 0px 15px 0px 20px;
}
.nivel{
color: #4D4F5C;
font-size: 12px;
font-family: $secondaryFont;

}


.price{
    color: #4D4F5C;
    font-size: 12px;
    font-family: $secondaryFont;
    float: right;
    margin-right: 16px;
    margin-top: 4px;
    
    }

    .custom-switch .custom-control-label ::before {
        top: calc(0.2rem);
        left: calc(-2.25rem + 3px);
        width: calc(1.2rem - 1px);
        height: calc(1.2rem - 1px);
        background-color: #00C299;
        border-radius: 0.7rem;
    }

    .dropdown-toggle::after {
        display: none;
        
    }

    .select-items div,.select-selected {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
      }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        font-size: 13px;
    }

    .dropdown-item:hover, .dropdown-item:focus {
        color: #16181b;
        text-decoration: none;
        background-color: #EFEFEF;
    }

    .list {
        border: none;
        background: #fff;
        box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.26);
    }

    .form-control {
        display: flex;
        width: 71px;
        height: 25px;
        padding: 0.375rem 0.75rem;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #EFEFEF;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 1.25rem;
    }

    .labelmin {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 13px;
        font-family: "Source Sans Pro";
        margin-left: 7px;


    }

    .form-controlmax {
        margin-left: 15px;
    }

    .labelmax {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 13px;
        font-family: "Source Sans Pro";
        margin-left: 70px;
    }

    .btn-primary {
        padding-left: 14px;
        padding-right: 13px;
        color: #fff;
        background-color: #4BACB6;
        border-color: #4BACB6;
        border-radius: 18px;
        font-size: 12px;
        font-family:"Source Sans Pro";
        float: right;
    }

    .btn-sort {
        width: 91%;
        color: #fff;
        background-color: #21B996;
        border-color: #21B996;
        border-radius: 18px;
        font-size: 10px;
        font-family: "Source Sans Pro";
        margin-top: 10px;
        margin-left: 10px;
    }
.title{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 55px;

color: #4D4F5C;
margin-top: -30px;
}
.titlecard2{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    font-size: 20px;
    margin-top: 50px;
    margin-right: -10px;
color: #4D4F5C;

}








.select-items div,.select-selected {
  
    padding: 8px 16px;
    
    
    cursor: pointer;
    user-select: none;
    
    
     border: none;
          background: #fff;
          box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.26);
  }

  .itemsdrop{
    border: none;
    background: #fff;
    box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.26);
  }
  .select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    
}
select #distance option {
    border: 10px;
    outline: none;
    scroll-behavior: smooth;
  }


.budgetpos{
    
    
    margin: -23px 0px 0px 80px;
}