<div class="container">
  <div class="title">
  <p >Providers</p>
  </div>
    <div class="row">
      <div class="col-sm-1 col-md-3 col-lg-2 col-xl-2 dropdown" >
        <p class="textdrop">Select Level</p>
      <select class=" btndrop btn dropdown" style="border: 0px;">
        <option  selected class="select-items itemsdrop">Controller</option>
        <option class="select-items itemsdrop" value="1">Model</option>
        <option  class="select-items itemsdrop" value="2">Data</option>
        <option  class="select-items itemsdrop" value="3">QKLY</option>
      
      </select>
       
    </div>

        <div class="col-sm-1 col-md-3 col-lg-2 col-xl-2  dropdown">
          <p class="textdrop">Buget</p>
          <button class="btn btndrop btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="budget">{{budget}}</span>
            <i class="fa fa-chevron-down"></i>
          </button>
         <div class="dropdown-menu p-3 list">
  <div class="form-group">
    <div>
    <label class="labelmin">Min</label>
    <label class="labelmax">Max</label>
    </div>
    <div>
    <input  class="form-control" id="1">
    <input  class="form-control form-controlmax budgetpos" id="2" >
    </div>
  </div>
  <button type="button" (click)="ChangeBudget()" class="btn btn-primary ">Apply</button>
</div>
          </div>




          <div class="col-sm-1 col-md-3 col-lg-2 col-xl-2  dropdown">
           
            
              <p class="textdrop">Location</p>
              <select class=" btndrop btn dropdown">
                <option selected class="select-items itemsdrop">Salt Lake City</option>
                <option class="select-items itemsdrop" value="1">Sacramento</option>
                <option  class="select-items itemsdrop" value="2">Any</option> 
                
              
              </select>
            
            </div>

            <div class="col-sm-1 col-md-3 col-lg-2 col-xl-2  dropdown ">
              <p class="textdrop">Distance</p>
              <select class=" btndrop btn dropdown  " id="distance" >
                <option selected class="select-items itemsdrop">50 Miles</option>
                <option class="select-items itemsdrop" value="1">100 Miles</option>
                <option  class="select-items itemsdrop" value="2">Any</option> 
                
              
              </select>
            </div>

            

        <div class="col-md-2 container3 form-check-inline" >
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Film</label>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">Individual</label>
          </div>
        </div>
        
        <diV class=" container4 col-md-2 dropdown">
        <p class="textdrop2">Sort by</p>
        <button class="btn btndrop2  btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span id="top">{{toprated}}</span>
          <i class="fa fa-chevron-down"></i>
        </button>
        <div class="dropdown-menu p-3 list ">
          <div class="form-group">
            
            <div><button id="1" (click)="clickEvent2($event)" class="btn btn-sort">Top rated</button></div>
            <div><button id="2" (click)="clickEvent2($event)" class="btn btn-sort">Location</button></div>
            <div><button id="3" (click)="clickEvent2($event)" class="btn btn-sort">Price</button></div>
            <div><button id="4" (click)="clickEvent2($event)" class="btn btn-sort">Star Date</button></div>
            <div><button id="5" (click)="clickEvent2($event)" class="btn btn-sort">Year of experience</button></div>
          </div>
        </div>
      </diV>
    </div>

    <div class="row container4 col-lg-2 col-md-12">
     
       
        </div>
      





<!--Cards-->

   <div class="row container2">
    <div class="col-md-3 "> 
      <div class="card card1 cardConten">
      <div>
      <img src="assets/providers/avatar.png" class="rounded-circle img-responsive  imgcard" alt="">
      <p class="titlecard2">Controller</p>
      </div>
      <p class="card-title titlecard styletext">Steven J | Salt Lake City, Utah</p>
      <div class="card-body">
        
        <hr size="5px">
        <p class="card-title styletext2 cardcontenttext">Experience</p>
        <p class="card-text styletext2 cardcontenttext">B.S. Accounting University of Utah 7 years of experience </p>
      </div>
      <div class="cardbtn">
        <div class="tag">Tags</div>
        <div class="tag">Tags</div>
      </div>
      <div class="cardbtn">
        <a class="viewprofile btn-info"  href="provider-profile">View Profile</a>
        <div class="message">Message</div>
    
        <div class="heart" >
           <i (click)="clickEvent($event)" id="like"  [ngClass]="'fa fa-heart-o'"></i>
        </div>
      </div>
      <div class="stars relatedStars ">
        <hr size="5px">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span class="nivel">(5)</span>
        <span class="price">$125/HR</span>
        
       </div>
    </div>
  </div> 

  
<!--Card2-->  
<div class=" col-md-3 "> 
  <div class="card card1 cardConten">
      <div>
      <img src="assets/providers/avatar.png" class="rounded-circle img-responsive  imgcard" alt="">
      <p class="titlecard2">Controller</p>
      </div>
      <p class="card-title titlecard styletext">Steven J | Salt Lake City, Utah</p>
      <div class="card-body">
        
        <hr size="5px">
        <p class="card-title styletext2 cardcontenttext">Experience</p>
        <p class="card-text styletext2 cardcontenttext">B.S. Accounting University of Utah 7 years of experience </p>
      </div>
      <div class="cardbtn">
        <div class="tag">Tags</div>
        <div class="tag">Tags</div>
      </div>
      <div class="cardbtn">
        <a class="viewprofile btn-info"  href="provider-profile">View Profile</a>
        <div class="message">Message</div>
        <div class="heart" >
          <i (click)="clickEvent($event)" id="like"  [ngClass]="status ? 'fa fa-heart' : 'fa fa-heart-o'"></i>
        </div>
      </div>
      <div class="stars relatedStars ">
        <hr size="5px">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span class="nivel">(5)</span>
        <span class="price">$125/HR</span>
       </div>
    </div>
  </div> 

    <!--Card3-->  
    <div class=" col-md-3 "> 
    <div class="card card1 cardConten">
      <div>
      <img src="assets/providers/avatar.png" class="rounded-circle imgcard" alt="">
      <p class="titlecard2">Controller</p>
      </div>
      <p class="card-title titlecard styletext">Steven J | Salt Lake City, Utah</p>
      <div class="card-body">
        
        <hr size="5px">
        <p class="card-title styletext2 cardcontenttext">Experience</p>
        <p class="card-text styletext2 cardcontenttext">B.S. Accounting University of Utah 7 years of experience </p>
      </div>
      <div class="cardbtn">
        <div class="tag">Tags</div>
        <div class="tag">Tags</div>
      </div>
      <div class="cardbtn">
        <a class="viewprofile btn-info"  href="provider-profile">View Profile</a>
        <div class="message">Message</div>
        <div class="heart" >
          <i (click)="clickEvent($event)" id="like"  [ngClass]="status ? 'fa fa-heart' : 'fa fa-heart-o'"></i>
        </div>
      </div>
      <div class="stars relatedStars ">
        <hr size="5px">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span class="nivel">(5)</span>
        <span class="price">$125/HR</span>
       </div>
    </div>
  </div>

<!--Cards4-->

  <div class=" col-md-3  "> 
    <div class="card card1 cardConten">
    <div>
    <img src="assets/providers/avatar.png" class="rounded-circle  imgcard" alt="">
    <p class="titlecard2">Controller</p>
    </div>
    <p class="card-title titlecard styletext">Steven J | Salt Lake City, Utah</p>
    <div class="card-body">
      
      <hr size="5px">
      <p class="card-title styletext2 cardcontenttext">Experience</p>
      <p class="card-text styletext2 cardcontenttext">B.S. Accounting University of Utah 7 years of experience </p>
    </div>
    <div class="cardbtn">
      <div class="tag">Tags</div>
      <div class="tag">Tags</div>
    </div>
    <div class="cardbtn">
      <a class="viewprofile btn-info"  href="provider-profile">View Profile</a>
      <div class="message">Message</div>
      <div class="heart" >
        <i (click)="clickEvent($event)" id="like"  [ngClass]="'fa fa-heart-o'"></i>
      </div>
      
    </div>
    <div class="stars relatedStars ">
      <hr size="5px">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <span class="nivel">(5)</span>
      <span class="price">$125/HR</span>
     </div>
  </div>
</div> 












<div class="col-md-3 "> 
  <div class="card card1 cardConten">
  <div>
  <img src="assets/providers/avatar.png" class="rounded-circle img-responsive  imgcard" alt="">
  <p class="titlecard2">Controller</p>
  </div>
  <p class="card-title titlecard styletext">Steven J | Salt Lake City, Utah</p>
  <div class="card-body">
    
    <hr size="5px">
    <p class="card-title styletext2 cardcontenttext">Experience</p>
    <p class="card-text styletext2 cardcontenttext">B.S. Accounting University of Utah 7 years of experience </p>
  </div>
  <div class="cardbtn">
    <div class="tag">Tags</div>
    <div class="tag">Tags</div>
  </div>
  <div class="cardbtn">
    <a class="viewprofile btn-info"  href="provider-profile">View Profile</a>
    <div class="message">Message</div>

    <div class="heart" >
       <i (click)="clickEvent($event)" id="like"  [ngClass]="'fa fa-heart-o'"></i>
    </div>
  </div>
  <div class="stars relatedStars ">
    <hr size="5px">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <span class="nivel">(5)</span>
    <span class="price">$125/HR</span>
    
   </div>
</div>
</div> 


<!--Card2-->  
<div class=" col-md-3 "> 
<div class="card card1 cardConten">
  <div>
  <img src="assets/providers/avatar.png" class="rounded-circle img-responsive  imgcard" alt="">
  <p class="titlecard2">Controller</p>
  </div>
  <p class="card-title titlecard styletext">Steven J | Salt Lake City, Utah</p>
  <div class="card-body">
    
    <hr size="5px">
    <p class="card-title styletext2 cardcontenttext">Experience</p>
    <p class="card-text styletext2 cardcontenttext">B.S. Accounting University of Utah 7 years of experience </p>
  </div>
  <div class="cardbtn">
    <div class="tag">Tags</div>
    <div class="tag">Tags</div>
  </div>
  <div class="cardbtn">
    <a class="viewprofile btn-info"  href="provider-profile">View Profile</a>
    <div class="message">Message</div>
    <div class="heart" >
      <i (click)="clickEvent($event)" id="like"  [ngClass]="'fa fa-heart-o'"></i>
    </div>
  </div>
  <div class="stars relatedStars ">
    <hr size="5px">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <span class="nivel">(5)</span>
    <span class="price">$125/HR</span>
   </div>
</div>
</div> 

<!--Card3-->  
<div class=" col-md-3 "> 
<div class="card card1 cardConten">
  <div>
  <img src="assets/providers/avatar.png" class="rounded-circle imgcard" alt="">
  <p class="titlecard2">Controller</p>
  </div>
  <p class="card-title titlecard styletext">Steven J | Salt Lake City, Utah</p>
  <div class="card-body">
    
    <hr size="5px">
    <p class="card-title styletext2 cardcontenttext">Experience</p>
    <p class="card-text styletext2 cardcontenttext">B.S. Accounting University of Utah 7 years of experience </p>
  </div>
  <div class="cardbtn">
    <div class="tag">Tags</div>
    <div class="tag">Tags</div>
  </div>
  <div class="cardbtn">
    <a class="viewprofile btn-info"  href="provider-profile">View Profile</a>
    <div class="message">Message</div>
    <div class="heart" >
      <i (click)="clickEvent($event)" id="like"  [ngClass]="'fa fa-heart-o'"></i>
    </div>
  </div>
  <div class="stars relatedStars ">
    <hr size="5px">
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
    <span class="nivel">(5)</span>
    <span class="price">$125/HR</span>
   </div>
</div>
</div>

<!--Cards4-->

<div class=" col-md-3  "> 
<div class="card card1 cardConten">
<div>
<img src="assets/providers/avatar.png" class="rounded-circle  imgcard" alt="">
<p class="titlecard2">Controller</p>
</div>
<p class="card-title titlecard styletext">Steven J | Salt Lake City, Utah</p>
<div class="card-body">
  
  <hr size="5px">
  <p class="card-title styletext2 cardcontenttext">Experience</p>
  <p class="card-text styletext2 cardcontenttext">B.S. Accounting University of Utah 7 years of experience </p>
</div>
<div class="cardbtn">
  <div class="tag">Tags</div>
  <div class="tag">Tags</div>
</div>
<div class="cardbtn">
  <a class="viewprofile btn-info"  href="provider-profile">View Profile</a>
  <div class="message">Message</div>
  <div class="heart" >
    <i (click)="clickEvent($event)" id="like"  [ngClass]="'fa fa-heart-o'"></i>
  </div>
  
</div>
<div class="stars relatedStars ">
  <hr size="5px">
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <i class="fa fa-star"></i>
  <span class="nivel">(5)</span>
  <span class="price">$125/HR</span>
 </div>
</div>
</div>









  </div>

</div>
