<div class="text-left pt-2 mt-3 row d-flex justify-content-center">
  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <div class="question m-5">Are You a CPA ?</div>
      <div class="d-flex flex-row">
        <button class="btn m-3  btn-application btn__boolean btn--primary  text-white">Yes</button>
        <button class="btn m-3 btn-application btn__boolean btn--tertiary  text-white">No</button>
      </div>
    </div>
  </div>
</div>
