@import "variables";
@import "breakpoints";

.btn__boolean {
  width: 15.44rem;
  height: 2.94rem;
}

.btn__boolean.hover {
  opacity: 1;
}

.btn--primary {
  fill-opacity: 0.6;
  background: rgba(172, 50, 217,0.6);
}

.btn--tertiary {
  background: rgba(75, 172, 182, 0.6);
}

.btn--primary:hover {
  background: $btnPurple;
}

.btn--tertiary:hover {
  background: $btnAqua;
}

.question {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
}
