@import "variables";
@import "breakpoints";

.cleartop{
    margin-top: 90px;
    @include breakpoint(tablet){
        margin-top: 114px;
    }
}

.loginText{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    @include breakpoint(tablet){
        font-size: 50px;
    }

}

.login{
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    @include breakpoint(tablet){
        width: 541px;
        height: 556px;
        margin: 0 auto;
        padding: 55px;
    }
   
    
    .loginWraper{
        .titleLog{
            text-align: center;
            margin-bottom: 37px;
        }
        .row{
            margin-bottom: 10px;  
        }

        .forPass{
            color:$btnBlue;
            margin-bottom: 35px;
        }

        label{
            font-family: $secondaryFont;
            color: $primaryText;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 19px;
            margin-left: 10px;
        }
        input{
            height: 31px;
            background: #EFEFEF;
            border-radius: 15px;
            border: none;
            font-family: $secondaryFont;
            font-size: 15px;
            outline: none;
            &:focus{
                outline: none;
            }
            &::placeholder{
                font-family: $secondaryFont;
                color:$primaryText;
                font-size: 15px;
            }
        }
    }
}
