<div class="container-fluid padContainer">
    <div class="row cleartop">
        <div class="col-12 col-md-12 ">
            <div class="title loginText">Qkly Marketplace</div>
            <div class="cardContent login">
                <form class="loginWraper">
                    <div class="row">
                        <div class="col-12">
                          <div class="subtitle titleLog">Log In</div>
                        </div>
                    </div>
                      <div class="row">
                          <div class="col">
                            <label for="user">Username or Email</label>
                            <input type="text" class="form-control lgInput" placeholder="Username or Email" name="user">
                          </div>
                      </div>
                    <div class="row">
                        <div class="col">
                          <label for="password">Password</label>
                          <input type="password" class="form-control lgInput" placeholder="*********" name="password">
                        </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label class="forPass" > Forgot Password</label>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <button class="form-control btnPage">Continue</button>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col" align="center">
                        <label class="or">Or</label>

                      </div>
                    </div>
                </form>
                <div class="row">
                  <div class="col">
                    <button class="form-control btnPage btnpageTwo"  routerLink="/sign-up">Sign Up</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearBottom"></div>
</div>
