@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro&display=swap');
@import "variables";
@import "breakpoints";
.padContainer {
    padding-left: 15px;
    padding-right: 15px;
    @include breakpoint(tablet) {
        padding-left: 30px;
        padding-right: 30px;
    }
    // @include breakpoint(tablet-horizontal) {
    //     padding-left: 120px;
    //     padding-right: 120px;
    // }
    @include breakpoint(desktop) {
        padding-left: 60px;
        padding-right: 60px;
    }
    @include breakpoint(desktop_regular) {
        padding-left: 100px;
        padding-right: 100px;
    }
    @include breakpoint(desktop-wide) {
        padding-left: 160px;
        padding-right: 160px;
    }
}

.title {
    font-family: $primaryFont;
    color: $primaryText;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 37px;
    @include breakpoint(tablet) {
        font-size: 55px;
        line-height: 67px;
    }
}

.subtitle {
    font-family: $primaryFont;
    color: $primaryText;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    @include breakpoint(tablet) {
        font-size: 40px;
        line-height: 49px;
    }
}

.cardContent {
    border: none;
    background: $white;
    box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.26);
}

.btnPage {
    width: 156.95px;
    height: 46.96px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: $white;
    background: $btnGreen;
    border-radius: 74px;
    margin: 0 auto;
    // &:hover{
    //     background: #FFFFFF;
    //     border: 1px solid #4D4F5C;
    //     box-sizing: border-box;
    //     border-radius: 74px;
    //     color: #4D4F5C;
    //     font-size: 20px;
    //     line-height: 25px;
    //     text-align: center;
    // }
}

.btnpageTwo {
    background: #FFFFFF;
    border: 1px solid $primaryText;
    box-sizing: border-box;
    border-radius: 74px;
    color: $primaryText;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    // &:hover{
    //     width: 156.95px;
    //     height: 46.96px;
    //     font-family: 'Source Sans Pro';
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 20px;
    //     text-align: center;
    //     color: #FFFFFF;
    //     background: #22B996;
    //     border-radius: 74px;
    //     margin: 0 auto;
    //     border:none;
    // }
}

.stars {
    color: $starColor;
    i {
        margin-right: 2px;
    }
}

.hearts {
    color: $hearthColor;
    i {
        margin-right: 2px;
    }
}

.clearBottom {
    width: 100%;
    height: 100px;
    @include breakpoint(tablet) {
        height: 150px;
    }
}

.btn-skip {
    background: rgba(0, 0, 0, 0.26);
    border-radius: 74px;
    color: white;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    height: 47px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  
  .btn-next {
    background: #22b996;
    border-radius: 74px;
    color: white;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    height: 47px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  
  .btn-application {
    background: #AC32D9;
    border-radius: 74px;
    color: white;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    height: 47px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
.help{
    font-size: 11px;
    padding: 5px 10px;
    font-family: $secondaryFont;
}
.is-error{
    color:$redText;
}

.myCustomModal .modal-dialog {
    max-width: 590px;
    max-height: 546px;
    margin: 4.75rem auto;
}

.myCustomModal .modal-dialog .modal-content {
    min-height: 43vh;
}