@import "variables";
@import "breakpoints";

.select-div {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: $primaryText;
}
.edu-div {
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #00c299;
}
