<div>
  <form [formGroup]="assessmentForm">
    <div class="col text-right pr-5">
      <button class="btn btn-application text-white">Save Application for Later</button>
    </div>
    <div class="container-fluid padContainer">
      <div class="row mb-3 mt-3">
        <div class="col-12 col-md-12 ">
          <div class="col text-center mt-5">
            <span class="select-div">Bookkeeper Assessment</span>
          </div>
          <div class="col text-center mt-3">
            <span class="edu-div">Question 1 of 41</span>
          </div>
          <app-multiple-choice [question]="question"></app-multiple-choice>

        </div>
      </div>
    </div>
  </form>
</div>
<div class="footer">
  <div class="row mr-0 ml-0">
    <div class="col-md-6  pl-5">
      <button class="btn text-white btn-skip" (click)="backPage()">
        Back
      </button>
    </div>

    <div class="col-md-6  next-div pr-5 d-flex justify-content-end">
      <button routerLink="result" class="btn text-white btn-next" >Next
      </button>
    </div>
  </div>
</div>
