<div class="text-left pt-2 mt-3 row d-flex justify-content-center">
  <div class="d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <div class="question m-5 d-flex flex-column align-items-center">
        <span>What industries do you have experience in?</span>
        <span style="font-size: 1rem;">(check all that apply)</span>
      </div>
      <div class="col-md-12  d-flex flex-wrap">
        <div style="flex: 0 1 33%;"  *ngFor="let list of experienceList" class="mb-4">
          <label class="checkbox-label">
            <input id="{{list.id}}" type="checkbox"/>
            <span class="checkbox-custom rectangular"></span>
            <label for="{{list.id}}" class="option-div text-left">{{list.name}}</label>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
