@import "variables";
@import "breakpoints";

.btn__boolean {
  width: 15.44rem;
  height: 2.94rem;
}

.btn__boolean.hover {
  opacity: 1;
}

.btn--primary {
  fill-opacity: 0.6;
  background: rgba(172, 50, 217,0.6);
}

.btn--tertiary {
  background: rgba(75, 172, 182, 0.6);
}

.btn--primary:hover {
  background: $btnPurple;
}

.btn--tertiary:hover {
  background: $btnAqua;
}

.question {
  color: $primaryText;
  font-family: $primaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 49px;
}
/* Styling Checkbox Starts */
.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 5px;
  left: 0px;
  height: 25px;
  width: 25px;
  background: white;
  opacity: 0.2;
  border-radius: 3px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #4d4f5c;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #00c299;
  border-radius: 3px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 1px solid #00c299;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 7px;
  top: 1px;
  width: 8px;
  height: 15px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}
.option-div{
  width: 151px;
  height: 25px;
  left: 766px;
  top: 582px;
  color: $primaryText;

  font-family: $secondaryFont;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;

  margin-left: 4rem;
}
