@import "variables";
@import "breakpoints";


.btn-sm {

    @include breakpoint(mobile) {
        padding: .8rem 0.9rem;
        line-height: 0;
        font-size: .9rem;
        border-radius: 2.2rem; 
        margin-bottom: 10px;  
            
        }
    @include breakpoint(mobile-medium) {
        padding: 1rem 0.9rem;
        line-height: 0;
        font-size: .9rem;
        border-radius: 2.2rem; 
        margin-bottom: 10px;  
                
            }
    @include breakpoint(mobile-plus) {
        padding: 1rem 0.9rem;
        line-height: 0;
        font-size: .9rem;
        border-radius: 2.2rem; 
        margin-bottom: 10px;      
                }          
   @include breakpoint(tablet) {
        padding: 1rem 1.0rem;
        line-height: 0;
        font-size: 1rem;
        border-radius: 2.2rem; 
        margin-bottom: 0px;
        
    }
    @include breakpoint(desktop) {
        padding: 0.25rem 1.5rem ;
        font-size: .875rem ;
        line-height: 1.5 ;  
        border-radius: 2.2rem;
        margin-bottom: 0px;      
    }
    @include breakpoint(desktop-wide) {
        padding: 0.25rem 1.5rem ;
        font-size: .875rem ;
        line-height: 1.5; 
        border-radius: 2.2rem; 
        margin-bottom: 0px;       
    }
}


button, input, optgroup, select, textarea {
    @include breakpoint(mobile) {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit ;    
    }
   
    @include breakpoint(tablet) {
        margin-left: 14px;
  
    }
    @include breakpoint(desktop) {
        margin-left: 14px;
  
    }


}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    list-style: none;

}

.btn-outline-secondary:hover {
    
    background-color: $btnGreen;
    border-color: $btnGreen;
}



.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;

    @include breakpoint(desktop-wide) {
        padding-left: 70px;
        
    }
}

a {
    color: #4D4F5C;
    text-decoration: none;
    background-color: transparent;
    font-family: $secondaryFont;
}

.form-inline {

    @include breakpoint(mobile) {
        display: inline-grid;
        }

    @include breakpoint(tablet) {
        display: inline     
    }

    @include breakpoint(desktop-wide) {
        margin-right: 80px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
        -webkit-box-align: center;
        align-items: center;
    }

}


.imgcard2 {
    width: 54px;
    vertical-align: top;
width: 34px;
height: 34px;

}


.v {
    border-left: 1.5px solid #B0B0B0;
    height: 38px;
    margin-left: 15px;
    margin-right: 23px;
  }


  .bell {
    color: #B0B0B0;
    padding-right:50px;
    margin-top: 15px;
    width:27px;
    height: 27px;
}
.clock {
    color: #B0B0B0;
    padding-right: 40px;
    margin-top: 15px;
    width:27px;
    height: 27px;
}



.fa-2x {
    font-size: 1.7em;
}

.name{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    
    color: #4D4F5C;
    margin: 0px 15px -4px 0px;
    mix-blend-mode: normal;
}

.btnhd{
    margin-left: 0px 0px 0px 0px;
    
}
.list {
    border: none;
    background: #fff;
    box-shadow: 4px 9px 10px rgba(0, 0, 0, 0.26);
    margin-top: -15px;;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #606265;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #EFEFEF;
}

.headericon{
    height: 15px;
    width: 10px;
    color: #4D4F5C;
}

.textglobal{
    font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
color: #4D4F5C;
mix-blend-mode: normal;
padding-right: 20px;
}