<nav class="navbar navbar-expand-sm shadow-sm p-3 mb-5 bg-white rounded navbar-light bg-light">

  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
      <img src="/assets/img/qkly_full1.png" alt="logo" style="width:100px;">
  </a>


  <!-- Links -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon" ></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item textglobal">
      <a class="nav-link" href="https://app.qkly.io/" target="_blank" >Qkly Project Managment</a>
    </li>
    <li class="nav-item textglobal">
     <a class="nav-link" routerLink="provider-listing">Providers</a>
    </li>
    <li class="nav-item textglobal">
      <a class="nav-link"  href="https://qkly-marketplace-ui.azurewebsites.net/joblist">Jobs</a>
    </li>
    <li class="nav-item textglobal">
      <a class="nav-link"  href="#">Post a Jobs</a>
    </li>
  </ul>
         <div class="v"></div>
    <form>
      <i class="fa fa-stopwatch clock" aria-hidden="true"></i>
      <i class="fa fa-bell bell" aria-hidden="true"></i>
    <span class="name">John Bennet</span>
    <img class="rounded-circle img-responsive imgcard2" src="assets/providers/avatar.png"  alt="">
    
    
    </form>

    <div> 
      <button class="btn btnhd"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="headericon fa fa-chevron-down"></i>
      </button>
      <form class="dropdown-menu p-2 list dropdown-menu-right">
        <div class="form-group">

          <a class="dropdown-item" href="#">My Profile</a>
          <a class="dropdown-item" href="#">My Jobs</a>
          <a class="dropdown-item" href="#">My Jobs Post</a>
          <a class="dropdown-item" href="#">My Providers</a>
          <a class="dropdown-item" href="#">My Invoices</a>
          <a class="dropdown-item" href="#">My Messages</a>
        </div>
      </form>
    </div>


    <form class="form-inline">
      <button style="display:none" class="btn btn-sm btn-outline-secondary" routerLink="sign-up" type="button">Sign up </button>
      <button style="display:none" class="btn btn-sm btn-outline-secondary" routerLink="login" type="button">Log in</button>
   </form>
 </div> 
</nav>









